<template>
	<div class="chooseBank_wrap">
		<transition name="fade">
			<div class="chooseBank_mask" v-show="visible"></div>
		</transition>
		<transition name="fade">
			<div class="chooseBank" v-show="visible">
				<div class="chooseBank_head">
					<span @touchstart.stop.prevent="cancelPay()">取消</span>
					<p>选择支付方式</p>
					<span @touchstart.stop.prevent="submitPay()">完成</span>
				</div>
				<div class="chooseBank_scroll">
					<div class="chooseBank_content">
						<p :class="{'active':i.active}" @click="chooseItem(i)" v-for="i in bankList">
<!--							<img :src="'image/bank/'+i.alliedBankCode+'.png'" alt="">-->
							<span>{{i.headBankName}}{{i.cardNo.slice(-4)}}</span>
						</p>
						<router-link to="addCreditCard">
							<em> ＋ 添加新的储蓄卡</em>
						</router-link>
					</div>
				</div>
			</div>
		</transition>
	</div>
</template>

<script scoped>
	import * as common from "@/libs/common.js";
	import api from "@/api.config.js";
	export default{
		data(){
			return{
				bankList:[],
				bankInfo:{}
			}
		},
		props:{
			visible:{
				type:Boolean,
				default:false
			}
		},
		mounted(){
			common.Ajax({
				"url":api.KY_IP+"posPurchase/qPayCards"
			},(data)=>{
				this.bankList = data.data;
				this.bankList.map((el)=>{
					this.$set(el,"active",false)
				})
			})
		},
		methods:{
			chooseItem(i){
				this.bankList.map((el)=>{
					this.$set(el,"active",false);
				});
				i.active = true;
				this.bankInfo = i;
			},
			cancelPay(){
				this.$emit("update:visible",false)
			},
			submitPay(){

				let bussFlowNo = sessionStorage.getItem("bussFlowNo");

				common.Ajax({
					"url":api.KY_IP+"posPurchase/createQPay",
					"data":{
						"bussFlowNo":bussFlowNo,
						"phone":this.bankInfo.phoneNo,
						"payerName":this.bankInfo.accountName,
						"bankCode":this.bankInfo.alliedBankCode,
						"bankName":this.bankInfo.headBankName,
						"idCardNo":this.bankInfo.idCardNo,
						"cardNo":this.bankInfo.cardNo,
						"terminalType":common.isClient()=="ios"?"IOS":"ANDROID",
						"terminalId":common.getCookie("TERMINALID"),
						"orderIp":common.getCookie("ORDERIP"),
						"lat":common.getCookie("LAT"),
						"lng":common.getCookie("LNG")

					}
				},(data)=>{

					sessionStorage.setItem("payTel",data.data.phone);
					sessionStorage.setItem("transId",data.data.transId);
					this.$router.push({
						"path":"payCheck"
					});

				})
				this.$emit("update:visible",false);
			}
		}
	}
</script>

<style lang="less" scoped>

	.fade-enter-active, .fade-leave-active {
	  transition: opacity .5s
	}
	.fade-enter, .fade-leave-to{
	  opacity: 0
	}

	.chooseBank_wrap{
		width: 100%;
	}
	.chooseBank_mask{
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);
		left: 0;
		top: 0;
		position: fixed;
		z-index: 100;
	}
	.chooseBank{
		width: 100%;
		overflow: hidden;
		position: fixed;
		max-height: 8.3rem;
		left: 0;
		bottom: 0;
		background: #fff;
		z-index: 100;
		.chooseBank_head{
			width: 92%;
			padding: 0.22rem 4%;
			display: flex;
			align-items:center;
			justify-content:space-between;
			span{
				color:#333;
				font-size: 0.28rem;
				&:last-child{
					font-family: "PingFangSC-Semibold"
				}
			}
			p{
				color:#333;
				font-size: 0.36rem;
			}
		}
		.chooseBank_scroll{
			width: 100%;
			max-height: 8.3-0.94rem;
			overflow: auto;
			-webkit-overflow-scrolling:touch;
		}
		.chooseBank_content{
			width: 100%;
			overflow: hidden;
			p{
				display: flex;
				align-items:center;
				height: 1.16rem;
				padding-left: 4%;
				position: relative;
				&.active{
					background: url(./image/icon_selected.png) no-repeat right 4% center;
					background-size: 0.3rem 0.22rem;
				}
				&:after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 1px;
					transform:scaleY(0.5);
					background: #e5e5e5;
				}
				img{
					width: 0.5rem;
					height: 0.5rem;
					display: block;
					margin-right: 0.2rem;
					border-radius: 100%;
				}
				span{
					font-size: 0.32rem;
					color: #333;
				}
			}
			a{
				display: flex;
				align-items:center;
				height: 1.16rem;
				padding-left: 4%;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 1px;
					transform:scaleY(0.5);
					background: #e5e5e5;
				}
				em{
					font-size: 0.32rem;
					color: #4886FF;
					margin:0 auto;
				}
			}
		}
	}
</style>
