<template>
    <transition name="fade">
        <div class="comp_dialog" v-show="isShow">
            <div class="comp_dialog_inner">
                <span class="close_btn" v-show="showClose" @click="closeDialog">
                    <img src="./image/icon_close.png" alt="">
                </span>
                <div class="dialog_content">
                    <slot></slot>
                </div>
            </div>
            <div class="mask-layer"></div>
        </div>
    </transition>
</template>
<script>
    export default {
        props: {
            //是否显示弹窗
            isShow: Boolean,
            showClose:{
                type:Boolean,
                default:false,
            }
        },
        watch: {
            isShow(newVal, oldVal) {
                if (newVal !== oldVal && newVal === true) {
                    this.init();
                }
            }
        },
        methods: {
            init() {

            },
            closeDialog() {
                this.$emit('update:isShow', false);
            }
        }
    }
</script>
<style lang="less" scoped>
    .comp_dialog {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        font-size: .2rem;

    }
    .mask-layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: rgba(0, 0, 0, .6);
    }

    .comp_dialog_inner {
        border-radius: 5px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        z-index: 20;
        .close_btn {
            width: .66rem;
            height: .66rem;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 20;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: .2rem;
                height: .2rem;
            }
        }
    }
</style>