<template>
    <div class="confirmInfo">
        <transition name="fade">
            <div class="confirmInfo_mask" @click="closeBox()" v-if="visible"></div>
        </transition>
        <transition name="fade">
            <div class="confirmInfo_box" v-if="visible">
                <div class="confirmInfo_close" @click="closeBox()"></div>
                <div class="confirmInfo_text">
                    <h1>确认信息</h1>
                    <div class="cell">
                        <span>姓名</span>
                        <b>{{userInfo.realname}}</b>
                    </div>
                    <div class="cell">
                        <span>身份证号</span>
                        <b>{{userInfo.identityNo}}</b>
                    </div>
                    <div class="cell">
                        <span>手机号</span>
                        <b>{{userInfo.userName}}</b>
                    </div>
                    <div class="confirmInfo_line"></div>
                    <p>{{boxInfo.content}}</p>
                    <a href="javascript:;" @click="submitBox()">确认办理</a>
                </div>    
            </div>
        </transition>
    </div>
</template>

<script>
import api from "@/api.config.js";
import * as common from "@/libs/common.js";

export default {
    data(){
        return{
            userInfo:{}
        }
    },
    props:{
        visible:{
            type:Boolean,
            default:false
        },
        boxInfo:{
            type:Object,
            default:""
        }
    },
    watch:{
        visible(value){
            if(value){
                common.Ajax({
                    url:api.KY_IP+"user/userIC"
                },(data)=>{
                    console.log(data)
                    this.userInfo = data.data;
                })
            }
        }
    },
    mounted(){
        
    },
    methods:{
        closeBox(){
            this.$emit("update:visible",false);
        },
        submitBox(){
            this.$emit("submitBox");
            this.$emit("update:visible",false);
        }
    }
}
</script>


<style lang="less" scoped>
    .confirmInfo_mask{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
    }
    .confirmInfo_box{
        width: 6.3rem;
        background: #fff;
        //overflow: hidden;
        padding: .62rem 0;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 10;
        border-radius: .08rem;
        .confirmInfo_close{
            width: .6rem;
            height: .6rem;
            background: url(./image/close_btn.png) no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            top: -0.92rem;
        }
        .confirmInfo_text{
            width: 4.72rem;
            overflow: hidden;
            margin: 0 auto;
            color: #3D4A5B;
            h1{
                display: block;
                font-size: .56rem;
            }
            .cell{
                span{
                    font-size: .24rem;
                    opacity: 0.8;
                    display: block;
                    margin-top: .16rem;
                }
                b{
                    font-size: .32rem;
                    display: block;
                }
            }
            .confirmInfo_line{
                width: 100%;
                height: 1px;
                background: #3F83FF;
                transform: scaleY(0.5);
                margin: .46rem 0 .3rem;
            }
            p{
                font-size: .24rem;
                text-align: justify;
                opacity: 0.8;
            }
            a{
                width: 100%;
                height: .8rem;
                background: #3F83FF;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .32rem;
                color: #fff;
                border-radius: .08rem;
                margin-top: .32rem;
            }
        }
    }
</style>

