<template>
	<div class="mHearder" id="mHearder">
		<div class="content">
			<a class="arrow" @touchstart.stop.prevent="goBack()" href="javascript:;"></a>
			<p>{{$route.meta.title}}</p>
			<a class="link" @touchstart.stop.prevent="goPage()" href="javascript:;">{{$route.meta.topText}}</a>
		</div>
	</div>
</template>

<script>
	export default{
		methods:{
			goBack(){
				this.$emit("goBack",this);
			},
			goPage(){
				this.$emit("goPage",this);
			}
		}
	}
</script>

<style lang="less" scoped>
	.mHearder{
		width: 100%;
		height: 0.88rem;
		background: #fff;
		position: relative;
		.content{
			width: 92%;
			padding: 0 4%;
			height: 0.88rem;
			position: fixed;
			left: 0;
			top: 0;
			background: #fff;
			z-index: 999;
			display: flex;
			align-items:center;
			justify-content: space-between;
			box-shadow: 0 0 0.1rem rgba(0,0,0,0.15);
			p{
				font-size: 0.34rem;
				color: #000;
				position: absolute;
				left: 50%;
				transform:translateX(-50%);
			}
			// a.arrow{
			// 	width: 0.4rem;
			// 	height: 0.88rem;
			// 	display: block;
			// 	background: url(../image/jiantou_l.png) no-repeat left center;
			// 	background-size: 0.14*1.5rem 0.24*1.5rem;
			// }
			a.link{
				font-size: 0.30rem;
				height: 0.88rem;
				color: #000;
				text-align: right;
				display: flex;
				align-items:center;
			}
		}
	}
</style>