<template>
	<div class="noData" v-show="isNoData">
        <img src="./image/img_results_empty.png" alt="">
        <p>暂无数据</p>
    </div>
</template>

<script>

	import "./bus.js";

	export default{
		data(){
			return{
				
			}
        },
        props:{
            isNoData:{
                "type":Boolean,
                "default":false
            }
        }
	}
</script>

<style lang="less" scoped>
	.noData{
		width: 100%;
        overflow: hidden;
        position: absolute;
        top: 3.4rem;
        left: 0;
        z-index: -15;
		img{
			width: 2.62rem;
			height: 3.18rem;
			display: block;
			margin: 1.5rem auto 0.3rem;
		}
		p{
			font-size: 0.28rem;
			color: #333;
            text-align: center;
            opacity: 0.4;
		}
	}
</style>