<template>
	<div class="wrap">
		<div class="searchBox" id="searchBox" :class="{'grey':type}">
			<div class="searchBox_content">
				<input id="search"
					:class="{'focus':isFocus}"
					type="text"
					:placeholder="placeholderText"
					v-model="inputValue"
					ref="searchInput"
				>
				<a @click="confirm()" href="javascript:;">搜索</a>
			</div>
		</div>
		<!-- <div class="searchBox_blank"></div> -->
	</div>
</template>

<script scoped>
	export default{
		data(){
			return{
				placeholder:"",
				isFocus:false,
				inputValue:""
			}
		},
		props:{
			placeholderText:{
				type:String,
				default:"搜索"
			},
			type:{
				type:Boolean,
				default:false
			},
			inputText:String
		},
		mounted(){
            
		},
		methods:{
			// enterInput(){
			// 	this.isFocus = true;
			// },
			// outInput(){
			// 	this.isFocus = false;
			// },
			confirm(){
                this.$emit("confirm",this.inputValue);
			}
		}
	}
</script>

<style lang="less" scoped>
	.searchBox_blank{
		height: 1rem;
	}
	.wrap{
		height: 1rem;
		overflow: hidden;
        background: #fff;
        position: relative;
        z-index: 10;
	}
	.searchBox{
		width: 100%;
		background: #fff;
		padding-top: 0.2rem;
		font-family: 'PingFangSC-Regular';
		// position: fixed;
		left: 0;
		top: 1.4rem;
		z-index: 100;
		&.grey{
            background: #f6f8f7;
            top: 2.58rem !important;
            position: fixed;
			.searchBox_content{
				input{
					background: url(./image/icon_search.png) #fff no-repeat left 0.25rem center;
					background-size: 0.28rem 0.28rem;
				}
			}
		}
		.searchBox_content{
			width: 6.9rem;
			height: 0.6rem;
			display: flex;
			align-items:center;
			margin: 0 auto;
			input{
				flex:1;
				display: block;
				font-size: 0.28rem;
				border-radius: 0.36rem;
				line-height: 0.6rem;
				padding-left: 0.7rem;
				background: url(./image/icon_search.png) #F4F5FB no-repeat left 0.25rem center;
				background-size: 0.28rem 0.28rem;
				transition:0.3s ease;
				&::-webkit-input-placeholder{
					color: #3D4A5B;
					opacity: 0.15;
				}
			}
			a{
				width: 0.9rem;
				height: 0.6rem;
				line-height: 0.6rem;
				text-align: center;
				color: #E95647;
				border-radius: 0.5rem;
				display: block;
				font-size: 0.28rem;
				margin-left: 0.2rem;

			}
		}
	}
</style>