//登录弹窗
.login_wrap {
  width: 6.2rem;
  height: 7.32rem;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate3d(-50%, -50%, 0);
  background: #FFF;
  border-radius: .08rem;

  .login_wrap_inner {
    font-size: .34rem;
    padding: 0 .64rem;

    .logo {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: .24rem;
      margin: .48rem auto .3rem;
      display: block;
    }

    h4 {
      text-align: center;
      font-size: .36rem;
      color: #313757;
      letter-spacing: 0;
    }

    .login_form {
      margin: .4rem 0 .48rem;

      .form_group {
        padding-bottom: .26rem;
        border-bottom: 1px solid #ECF0FF;
        font-size: .34rem;
        position: relative;

        input {
          width: 100%;
          color: #313757;
          margin-top: .28rem;
          font-size: .34rem;
        }

        span {
          color: #3D4A5B;
          letter-spacing: 0;
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          font-size: .32rem;
          height: 100%;
          line-height: 100%;
        }
      }
    }

    .login_btn {
      background: #EDC78D;
      border-radius: 3px;
      display: block;
      width: 4.92rem;
      height: .8rem;
      line-height: .8rem;
      font-size: .32rem;
      color: #2C2628;
      letter-spacing: 0;
      text-align: center;
    }

    .login_agreement {
      font-size: .24rem;
      margin: .32rem 0 .34rem;
      text-align: center;
      color: #3D4A5B;

      span {
        display: block;
      }

      a {
        color: #3F83FF;
        position: relative;
        left: -.06rem;
      }
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
}


::-webkit-input-placeholder { /* WebKit browsers */
  color: #3D4A5B;
  font-size: .34rem;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #3D4A5B;
  font-size: .34rem;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #3D4A5B;
  font-size: .34rem;
}