<template>
    <div class="machinesApply">
        <div>
            <div class="machinesApply-yes">
                <div class="yes-title">产品品牌</div>
                <div class="yes-tools">
                    <div class="yes-text" v-model="productName">{{productName}}</div>
                    <div class="yes-img" @click="myPicker = true"></div>
                </div>
            </div>
            <div class="machinesApply-yes">
                <div class="yes-title">机具序列号</div>
                <div class="yes-tools">
                    <input type="text" v-model="posNo" placeholder="请输入机具序列号">
                </div>
            </div>
            <div class="machinesApply-yes">
                <div class="yes-title">商户名</div>
                <div class="yes-tools">
                    <div class="yes-text">
                        <input type="text" v-model="customerName" placeholder="请输入商户名">
                    </div>
                </div>
            </div>
        </div>
        <div class="machinesApply-inform" >
            <van-button
                color="#F3782C"
                type="primary"
                @click="applyCheck"
                block>提交信息
            </van-button>
        </div>
        <!--        产品弹窗-->
        <div class="myPicker" v-if="myPicker">
            <div class="content">
                <div class="myPicker-top">
                    选择产品
                    <div class="close" @click="myPicker = false">×</div>
                </div>
                <van-radio-group v-model="radio">
                    <div class="myPicker-center">
                        <div class="myPicker-center-list" v-for="(item,index) in machinesArray" :key="index">
                            <div class="text">{{item.productName}}</div>
                            <van-radio @click="radio = item.productCode" :name="item.productCode" checked-color="#F3782C"></van-radio>
                        </div>
                    </div>
                </van-radio-group>
                <div class="myPicker-bottom" @click="onQuery">确认</div>
            </div>

        </div>
    </div>
</template>

<script>
    import api from "@/api.config.js";
    import * as common from "@/libs/common.js";
    import Bus from "@/libs/bus.js";
    import { Toast } from 'vant'
    export default {
        data(){
            return{
                radio:'',
                myPicker:false,
                productName:'',
                machinesArray:[],
                addArray:'',
                posNo:'',
                customerName:''
            }
        },
        created(){
            let _this = this
            _this.init()
        },
        mounted() {

        },
        methods:{
            init(){
                let _this = this
                _this.proApplyList()
                common.Ajax({
                    "url":api.KY_IP+"addr/list",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        pageNum:_this.pageNum
                    }
                },(data)=>{
                    _this.addArray = data.data;
                    for(let i in data.data){
                        if(data.data[i].isDefault == true){
                            _this.addArray = data.data[i]
                        }
                    }
                });
            },
            applyCheck(){
                let _this = this
                if(!_this.posNo){
                    Toast('请输入机具序列号');
                    return
                }
                if(!_this.customerName){
                    Toast('请输入商户名');
                    return;
                }
                common.Ajax({
                    "url":api.KY_IP+"posApply/toApply",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        productCode:_this.radio,
                        posNo:this.posNo,
                        customerName:this.customerName,
                        type:'FORMER',
                        addressId:this.addArray.id
                    }
                },(data)=>{
                    if (data.code == '0000') {
                        this.$router.push({
                            "path":"applyRecord",
                        })
                    }
                });
            },
            proApplyList(){
                let _this = this
                common.Ajax({
                    "url":api.KY_IP+"performance/findProduct",
                    "type": "post",
                },(data)=>{
                    _this.machinesArray = data.data;
                    this.radio = _this.machinesArray[0].productCode
                    for(let i in _this.machinesArray){
                        _this.productName= _this.machinesArray[0].productName
                    }
                });
            },
            onQuery(){
                this.myPicker = false
                for(let i in this.machinesArray){
                    if(this.machinesArray[i].productCode == this.radio){
                        this.productName = this.machinesArray[i].productName
                    }
                }
            }
        }
    }
</script>

<style lang="less" src="./css/machinesToolsIsApply.less" scoped></style>
