<template>
    <div class="machinesToolsApply" ref="apply">
        <div class="machinesToolsApply-is">{{this.toolsText}}</div>
        <div v-for="(item,index) in machinesToolsArray" :key="index">
            <div class="machinesToolsApply-is yes" v-if="leader != 'PARTNER_VIP' || item.title =='是'" @click="machinesToolsApplyIs(item,index)">
                <div class="yes-text" >{{item.title}}</div>
                <div class="yes-img"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import api from "@/api.config.js";
    import * as common from "@/libs/common.js";
    export default {
        data(){
            return{
                toolsText:'是否有在使用的机器',
                loginKey:common.getLoginKey(),
                machinesToolsArray:[
                    {
                        title:'是',
                        applyIsType:'yes'
                    },
                    {
                        title:'否',
                        applyIsType:'no'
                    }
                ],
                leader:''
            }
        },
        created(){
            this.init()
        },
        methods:{
            init(){
                let _this = this
                common.Ajax({
                    "url":api.KY_IP+"user/findUserInfo",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                    }
                },(data)=>{
                    _this.leader = data.data.leader
                });
            },
            machinesToolsApplyIs(item,index){
                if (item.applyIsType == 'yes') {
                    this.$router.push({
                        "path":"machinesToolsYesApply",
                    })
                }
                if (item.applyIsType == 'no') {
                    this.$router.push({
                        "path":"machinesToolsIsApply",
                    })
                }
            }
        }
    }
</script>
<style lang="less" src="./css/machinesToolsApply.less" scoped></style>

