<template>
    <div class="machinesApply">
        <div>
            <div class="machinesApply-is">
                <div class="yes-title">{{title}}</div>
                <div class="yes-tools">
                    <div class="yes-text">{{productName}}</div>
                    <div class="yes-img" @click="myPicker = true"></div>
                </div>
            </div>
            <div class="machinesApply-adress" v-if="addArray.length > 0" v-for="(item,index) in addArray" :key="index">
                <div class="machinesApply-adress-left">
                    <div class="yes-title">{{item.province}}{{item.city}}{{item.area}}{{item.addressDetail}}</div>
                    <div class="changePending-center-infor">
                        <div class="pendName">{{item.receivePerson}}</div>
                        <div class="phoneNo">{{item.phoneNo}}</div>
                    </div>
                </div>
                <div class="machinesApply-adress-right" @click="onAdressList"></div>
            </div>
            <div  class="machinesApply-noadress" v-if="addArray.length == 0" @click="onAdress">
                <div class="machinesApply-adress-left">
                    <van-icon name="plus" style="margin-right: 0.1rem" />新增收货地址
                </div>
                <div class="machinesApply-adress-right"></div>
            </div>
        </div>
        <div class="machinesApply-inform">
            <van-button
                    color="#F3782C"
                    type="primary"
                    block @click="applyCheck">提交信息</van-button>
        </div>
<!--        产品弹窗-->
        <div class="myPicker" v-if="myPicker">
            <div class="content">
                <div class="myPicker-top">
                    选择产品
                    <div class="close" @click="myPicker = false">×</div>
                </div>
                <van-radio-group v-model="radio">
                    <div class="myPicker-center">
                        <div class="myPicker-center-list" v-for="(item,index) in machinesArray" :key="index">
                            <div class="text">{{item.productName}}</div>
                            <van-radio @click="radio = item.productCode" :name="item.productCode" checked-color="#F3782C"></van-radio>
                        </div>
                    </div>
                </van-radio-group>
                <div class="myPicker-bottom" @click="onQuery">确认</div>
            </div>

        </div>
    </div>
</template>
<script>
    import api from "@/api.config.js";
    import * as common from "@/libs/common.js";
    import { Toast } from 'vant';
    export default {
        data(){
            return{
                show:true,
                radio:'',
                productName:'',
                productCode:'',
                title:'产品品牌',
                myPicker:false,
                addArray:[]
            }
        },
        methods:{
            init(){
                let _this = this
                _this.proApplyList()
            },
            proApplyList(){
                let _this = this
                common.Ajax({
                    "url":api.KY_IP+"performance/findProduct",
                    "type": "post",
                },(data)=>{
                    _this.machinesArray = data.data;
                    this.radio = _this.machinesArray[0].productCode
                    for(let i in _this.machinesArray){
                        _this.productName= _this.machinesArray[0].productName
                    }
                });
                common.Ajax({
                    "url":api.KY_IP+"addr/list",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        pageNum:_this.pageNum
                    }
                },(data)=>{
                    for(let i in data.data){
                        if(this.$route.query && this.$route.query.addressId && this.$route.query.addressId == data.data[i].id){
                            _this.addArray = [data.data[i]]
                        }else if(data.data[i].isDefault){
                            _this.addArray = [data.data[i]]
                        }
                    }
                });
            },
            onQuery(){
                this.myPicker = false
                for(let i in this.machinesArray){
                    if(this.machinesArray[i].productCode == this.radio){
                        this.productName = this.machinesArray[i].productName
                    }
                }
            },
            applyCheck(){
                let _this = this
                if(!_this.addArray[0] || !_this.addArray[0].id){
                    Toast('请选择收货地址');
                    return
                }
                common.Ajax({
                    "url":api.KY_IP+"posApply/toApply",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        productCode:_this.radio,
                        type:'NEWAPPLY',
                        addressId:_this.addArray[0].id
                    }
                },(data)=>{
                    if (data.code == '0000') {
                        this.$router.push({
                            "path":"applyRecord",
                        })
                    }
                    //成功后

                });
            },
            onAdressList(){
                this.$router.push({
                    "path":"adressList"
                });
            },
            onAdress(){
                this.$router.push({
                    "path":"addAdress"
                });
            }
        },
        created(){
            let _this = this
            _this.init()
        },
        mounted() {}
    }
</script>
<style lang="less" src="./css/machinesToolsIsApply.less" scoped></style>

