<template>
    <div class="login_wrap">
        <div class="login_wrap_inner" style="height: 6.7rem;">
            <img class="logo" src="./images/icon.png" alt="">
            <h4>领取会员权益</h4>
            <div class="login_form">
                <section class="form_group">
                    <input type="tel" v-iosInputBug  maxlength="11" v-model="phone" v-enterNumber placeholder="请输入手机号码">
                </section>
                <section class="form_group">
                    <input type="tel" ref="vCode"  v-iosInputBug  v-model="vCode" placeholder="请输入验证码" maxlength="6">
                    <span @click="sendCode">{{mes}}</span>
                </section>
            </div>
            <span class="login_btn" @click="confirm" >开启高返佣赚钱</span>
<!--            <p class="login_agreement">-->
<!--                <span>确定代表您已经同意</span>-->
<!--                <a href="javascript:void(0)" @click="openAgreement('https://test.ihaomai8.com/dirsell-source/app/index.html#/shopList')">《用户授权登录协议》</a>-->
<!--                <a href="javascript:void(0)" @click="openAgreement('http://testi.phoenixpay.com/downLoadXNHY/downLoad.html?type=pushhand#home')">《犀牛会员协议》</a>-->

<!--                <a href="javascript:void(0)" @click="openAgreement('http://172.28.3.16:8800/#/shopList')">《用户授权登录协议》</a>-->
<!--                <a href="javascript:void(0)" @click="openAgreement('http://testi.phoenixpay.com/downLoadXNHY/downLoad.html?type=pushhand#home')">《犀牛会员协议》</a>-->
<!--            </p>-->
        </div>
<!--        <verifi-code @confirmCode="changeStartTime" :isShowImgCode.sync="isShowImgCode" :phoneNo="phoneNo" confirmText="确认" cancelText="取消"></verifi-code>-->
    </div>
</template>
<style src="./login.less" lang="less"></style>
<script src="./login.js"></script>
