//登录弹窗
.login_wrap {
  overflow: hidden;
  width: 7.5rem;
  height: 8.8rem;
  position: absolute;
  left: 50%;
  margin-left: -3.75rem;
  margin-top: -4.4rem;
  top: 50%;
  z-index: 2;
  //transform: translate3d(-50%, -50%, 0);
  background: #FFF;
  //border-radius: .96rem;
  .login_wrap_inner {
    font-size: .42rem;
    padding: 0 .77rem;
    .logo {
      width: 1.45rem;
      height: 1.45rem;
      border-radius: .29rem;
      margin: 1.3rem auto .19rem;
      display: block;
    }
    h4 {
      text-align: center;
      font-size: .42rem;
      color: #313757;
      letter-spacing: 0;
    }
    .login_form {
      margin: .6rem 0 .58rem;
      .form_group {
        padding-bottom: .32rem;
        border-bottom: 1px solid #ECF0FF;
        font-size: .42rem;
        position: relative;
        input {
          width: 100%;
          color: #313757;
          margin-top: .33rem;
          font-size: .36rem;
        }
        span {
          color: #3F83FF;
          letter-spacing: 0;
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          font-size: .36rem;
          height: 100%;
          line-height: 100%;
        }
      }
    }
    .login_btn {
      background: #3F83FF;
      border-radius: 3px;
      display: block;
      width: 6rem;
      height: .96rem;
      line-height: .96rem;
      font-size: .36rem;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
    }
    .login_agreement {
      font-size: .28rem;
      margin: .38rem 0 .5rem;
      //text-align: justify;
      span {
        display: block;
        color: #313757;
      }
      a {
        color: #3F83FF;
        position: relative;
        left: -0.14rem;
      }
    }
  }
}