<template>
    <div v-show="isPushHandShow">
        <div class="login_container">
                <img class="logo" :src="headImagePath" alt="">
                <div class="login_wrap">
                    <div class="login_wrap_inner">
                        <h4>{{parentUserName}}邀请您成为逍遥推手用户</h4>
                        <div class="login_form">
                            <section class="form_group">
                                <input type="tel" maxlength="11" v-model="phone" v-enterNumber placeholder="请输入手机号码">
                            </section>
                            <section class="form_group">
                                <input type="tel" ref="vCode" v-iosInputBug v-model="vCode" placeholder="请输入验证码" maxlength="6">
                                <span @click="sendCode">{{mes}}</span>
                            </section>
                        </div>
                        <span class="login_btn" @click="openUser">立即开通</span>
                        <p class="login_agreement">
                            注册代表您已同意 <a href="http://www.baidu.com" target="_blank">《逍遥推手协议》</a>
                        </p>
                    </div>

                    <div class="close" @click="closePage()">
                        <i></i>
                    </div>
                    <!-- <verifi-code @confirmCode="changeStartTime" :isShowImgCode.sync="isShowImgCode" :phoneNo="phoneNo" confirmText="确认" cancelText="取消"></verifi-code>-->
                </div>
        </div>
        <div class="mask" ></div>
    </div>
</template>
<style src="./login.less" lang="less" scoped></style>
<script src="./login.js"></script>
