<template>
	<div class="myOrder">
		<div class="dialog" id="dialog" v-show="showDia">
            <!-- 都为false -->
			<div class="dialog1" v-show="dialog1" v-if="needMess==false && needPicture==false">
				<div class="dia_title">查询请求已发送</div>
				<div class="dia_text">
					查询请求已发送至银行，请耐心等待后续结果
				</div>
				<button @click="know();">我知道了</button>
			</div>
			<!-- needMess为false -->
			<div class="dialog2" v-show="dialog2" v-if="needMess==false && needPicture==true">
				<img class="dia2_can" src="./image/icon_popwindow_close.png" alt="" @click="dia2Cancel()">
				<div class="dialog2_main">
					<div class="dia_title">
						请验证信息
					</div>
					<div class="dia_text">
						{{custName}}
					</div>
					<div class="dia_text">
						{{hideMiddle(idNo)}}
					</div>
					<div class="dia_text">
						{{custPhone}}
					</div>
					<div class="dia_input">
						<input type="text" ref="imgCode" maxlength="6" placeholder="请输入">
						<div class="yzm">
							<img @click="getYzm();" :src="imgUrl" id="yzmimage">
						</div>
					</div>
					<button @click="confirm(index);">确定</button>
				</div>
			</div>
			<!-- needPicture为false -->
			<div class="dialog2" v-show="dialog3" v-if="needMess==true && needPicture==false">
				<img class="dia2_can" src="./image/icon_popwindow_close.png" alt="" @click="dia3Cancel()">
				<div class="dialog2_main">
					<div class="dia_title">
						请验证信息
					</div>
					<div class="dia_text">
						{{custName}}
					</div>
					<div class="dia_text">
						{{hideMiddle(idNo)}}
					</div>
					<div class="dia_text">
						{{custPhone}}
					</div>
					<div class="dia_input">
						<input type="text" ref="msgCode" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="6" placeholder="请输入">
						<span @click="getMess(bussFlowNo);">
							{{countDownText}}
						</span>
					</div>
					<button @click="confirm(index);">确定</button>
				</div>
			</div>
			<!-- 都为true -->
			<div class="dialog2" v-show="dialog4" v-if="needMess==true && needPicture==true">
				<img class="dia2_can" src="./image/icon_popwindow_close.png" alt="" @click="dia4Cancel()">
				<div class="dialog2_main" style="height:8.34rem;">
					<div class="dia_title">
						请验证信息
					</div>
					<div class="dia_text">
						{{custName}}
					</div>
					<div class="dia_text">
						{{hideMiddle(idNo)}}
					</div>
					<div class="dia_text">
						{{custPhone}}
					</div>
					<div class="dia_input">
						<input type="text" ref="imgCode" maxlength="6" placeholder="请输入">
						<div class="yzm">
							<!-- <img @click="getYzm();" :src="imgUrl+'creditCard/getVCodePic?bussFlowNo='+bussFlowNo+'&loginKey='+loginKey+'&flag='+Math.random()" id="yzmimage"> -->
							<img @click="getYzm();" :src="imgUrl" id="yzmimage">
						</div>
					</div>
					<div class="dia_input">
						<input type="text" oninput = "value=value.replace(/[^\d]/g,'')" maxlength="6" placeholder="请输入" ref="msgCode">
						<span @click="getMess1(bussFlowNo);">
							{{countDownText}}
						</span>
					</div>
					<button @click="confirm(index);">确定</button>
				</div>
			</div>
        </div>
		<div class="queryHead">
			<div class="queryHead_menu">
				<a v-for="(i,index) in menuArray" :key="index" href="javascript:;" @click="changeList(i,index)" :class="{'active':i.active}">{{i.title}}</a>
			</div>
			<search-box
				:placeholderText="'请输入姓名搜索'"
                :type="false"
                @confirm="searchBtn"
                ref="searchBox"
			></search-box>
		</div>

		<div class="scroller" ref="scroller">
			<!-- <scroller :noDataText="defaultText" :on-refresh="refresh" :on-infinite="infinite" ref="my_scroller"> -->
            <freshToLoadmore 
                @refresh="refresh" 
                @loadmore="loadmore"
                :type="'all'"
            > 
				<!-- 滚动区域显示 -->
				<div class="swiper-container">
	                <div class="swiper-wrapper" id="swiper-wrapper">
	                    <div class="swiper-slide" 
                            :style="{'height':index==0?(allCardList[0].isNoData?minHeight:'auto'):'0px'}">
							<div class="orderList">
								<div class="item" v-for="(i,index) in allCardList[0].cardList" :key="index">
									<p>
										<b>{{i.productName}}</b>
										<b>审核中</b>
									</p>
									<em>姓名：{{i.custName}}</em>
									<em>电话：{{i.custPhone}}</em>
									<span>
										{{i.createTime}}
										<a v-if="i.outCode" href="javascript:;" @click="checkProgress(i.bussFlowNo,index);">查询进度</a>
									</span>
								</div>
							</div>
                            <no-data :isNoData="allCardList[0].isNoData"></no-data>
	                    </div>
	                    <div class="swiper-slide" 
                            :style="{'height':index==1?(allCardList[1].isNoData?minHeight:'auto'):'0px'}">
							<div class="orderList">
								<div class="item" v-for="(i,index) in allCardList[1].cardList" :key="index">
									<p>
										<b>{{i.productName}}</b>
										<b>办卡成功</b>
									</p>
									<em>姓名：{{i.custName}}</em>
									<em>电话：{{i.custPhone}}</em>
									<span>
										{{i.createTime}}
									</span>
								</div>
							</div>
                            <no-data :isNoData="allCardList[1].isNoData"></no-data>
	                    </div>
	                    <div class="swiper-slide" 
                            :style="{'height':index==2?(allCardList[2].isNoData?minHeight:'auto'):'0px'}">
							<div class="orderList">
								<div class="item" v-for="(i,index) in allCardList[2].cardList" :key="index">
									<p>
										<b>{{i.productName}}</b>
										<b style="color:#E95647">审核失败</b>
									</p>
									<em>姓名：{{i.custName}}</em>
									<em>电话：{{i.custPhone}}</em>
									<span>
										{{i.createTime}}
									</span>
								</div>
							</div>
                            <no-data :isNoData="allCardList[2].isNoData"></no-data>
	                    </div>
	                </div>
	            </div>
				<!-- 滚动区域显示 -->
			<!-- </scroller> -->
            </freshToLoadmore>
		</div>
    </div>
</template>

<style lang="less" src="./css/creditCard_order.less" scoped></style>
<script src="./script/creditCard_order.js" scoped></script>
