<template>
    <div class="creditCard">
        <div class="creditCard_banner" v-if="bannerList.length>0">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="(item,index) in bannerList" :key="index">
                        <a :href="item.h5Url">
                            <img src="./image/banner_juxing.png" v-if="item.imgUrl==''">
                            <img v-else="" :src="imgUrl1+'file/downloadFile?filePath='+item.imgUrl" alt="">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="creditCard_bank" :key="index" v-for="(i,index) in bussGroups">
            <h1>{{i.group}} <a href="javascript:;" @click="gotoOnline()">我要办卡</a></h1>
            <div class="bankList">
                <template v-for="(j,index) in i.products">
                    <div @click="gotoShare(j)" class="item">
                        <div class="logo" v-if="j.logo!=''">
                            <img :src="imgUrl1+'file/downloadFile?filePath='+j.logo" alt="">
                        </div>
                        <div class="logo" v-else="j.logo=''">
                            <img src="./image/img_logo.png" alt="">
                        </div>
                        <b>{{j.productName}}</b>
                        <p v-if="j.isShow" v-html="j.userDesc.feature?j.userDesc.feature.join('<br>'):''"></p>
                        <p v-else>
                            暂未开放<br>敬请期待
                        </p>
                        <span v-if="j.isShow">{{j.userDesc.rewardAmount||""}}</span>
                    </div>
                    <!-- <div v-else class="forward">
                        <p>{{j.productName}}</p>
                        <p>敬请期待</p>
                    </div> -->
                </template>
                <div v-if="i.products.length%3==2" class="item height0"></div>
            </div>
        </div>

        <div class="creditCard_btn">
            <a href="javascript:;" @click="gotoShare(business)" class="default_button">全部推荐</a>
        </div>


    </div>
</template>

<style lang="less" src="./css/creditCard.less"></style>
<script src="./script/creditCard.js" scoped></script>
