<template>
    <div class="onlineCard">
        <div :key="index" v-for="(i,index) in bankList">
            <div class="onlineCard_title">
                <img src="./image/online_fire.png" alt="">
                {{i.group}}
            </div>
            <div class="onlineCard_content">
                <div class="item" @click="confirmCard(j)" :key="index" v-for="(j,index) in i.products">
                    <div class="item_line" :class="{'grey':!j.isShow}">
                        <img :src="imgUrl+'file/downloadFile?filePath='+j.logo" alt="">
                        <b>{{j.productName}}</b>
                        <p v-if="j.isShow">{{j.custDesc.feature[0]}}</p>
                    </div>
                    <div v-if="j.custDesc.label" class="item_tag">
                        <span>{{j.custDesc.label}}</span>
                    </div>
                </div>
            </div>
        </div>
       <alert-box
            :visible.sync = "repeatShow"
            :boxInfo = "repeatInfo"
			@cancel = "repeatConfirm"
        ></alert-box>
        <confirm-info
            :visible.sync = "showConfirm"
            :boxInfo="comfirmText"
            @submitBox = "comfirmInfo"
        ></confirm-info>
    </div>
</template>

<style lang="less" src="./css/onlineCard.less"></style>
<script src="./script/onlineCard.js" scoped></script>
