<template>
	<div class="myOrder">
		
		<div class="queryHead">
			<div class="queryHead_menu">
				<a v-for="(i,index) in menuArray" :key="index" href="javascript:;" @click="changeList(i,index)" :class="{'active':i.active}">{{i.title}}</a>
			</div>
			<!-- <search-box
				:placeholderText="'请输入姓名搜索'"
                :type="false"
                @confirm="searchBtn"
                ref="searchBox"
			></search-box> -->
		</div>

		<div class="scroller" ref="scroller">
			<!-- <scroller :noDataText="defaultText" :on-refresh="refresh" :on-infinite="infinite" ref="my_scroller"> -->
            <freshToLoadmore 
                @refresh="refresh" 
                @loadmore="loadmore"
                :type="'all'"
            > 
				<!-- 滚动区域显示 -->
				<div class="swiper-container">
	                <div class="swiper-wrapper" id="swiper-wrapper">
	                    <div class="swiper-slide" 
                            :style="{'height':index==0?(allCardList[0].isNoData?minHeight:'auto'):'0px'}">
							<div class="orderList">
								<div class="item" v-for="(i,index) in allCardList[0].cardList" :key="index">
									<p>
										<b>{{i.goodsName}}</b>
										<!-- <b>审核中</b> -->
									</p>
									<em>商品价格：{{i.goodsPrice}}元</em>
									<em>用户账号：{{i.userAccount}}</em>
									<span>
										支付时间：{{i.payTime}}
									</span>
								</div>
							</div>
                            <no-data :isNoData="allCardList[0].isNoData"></no-data>
	                    </div>
	                    <div class="swiper-slide" 
                            :style="{'height':index==1?(allCardList[1].isNoData?minHeight:'auto'):'0px'}">
							<div class="orderList">
								<div class="item" v-for="(i,index) in allCardList[1].cardList" :key="index">
									<p>
										<b>{{i.goodsName}}</b>
									</p>
									<em>商品价格：{{i.goodsPrice}}元</em>
									<em>用户账号：{{i.userAccount}}</em>
									<em>分润金额：{{i.commission}}元</em>
									<span>
										结算时间：{{i.settleTime}}
									</span>
								</div>
							</div>
                            <no-data :isNoData="allCardList[1].isNoData"></no-data>
	                    </div>
	                    <div class="swiper-slide" 
                            :style="{'height':index==2?(allCardList[2].isNoData?minHeight:'auto'):'0px'}">
							<div class="orderList">
								<div class="item" v-for="(i,index) in allCardList[2].cardList" :key="index">
									<p>
										<b>{{i.goodsName}}</b>
									</p>
									<em>商品价格：{{i.goodsPrice}}元</em>
									<em>用户账号：{{i.userAccount}}</em>
									<span>
										结束时间：{{i.completeTime}}
									</span>
								</div>
							</div>
                            <no-data :isNoData="allCardList[2].isNoData"></no-data>
	                    </div>
	                </div>
	            </div>
				<!-- 滚动区域显示 -->
			<!-- </scroller> -->
            </freshToLoadmore>
		</div>
    </div>
</template>

<style lang="less" src="./css/shop_order.less" scoped></style>
<script src="./script/shop_order.js" scoped></script>
