@import url("~@/css/base.less");

.creditCard{
    width: 100%;
    overflow: hidden;
    padding-top: 0.3rem;
    padding-bottom: 1.5rem;
    .creditCard_banner{
        width: 6.9rem;
        height: 1.8rem;
        margin: 0 auto;
        background: #ccc;
        border-radius: 0.08rem;
        overflow: hidden;
        .swiper-container{
            width: 100%;
            height: 100%;
            position: relative;
            .swiper-slide{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            .swiper-pagination{
                bottom:0.1rem;
                height: 0.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                span.swiper-pagination-bullet{
                    width: 0.1rem;
                    height: 0.1rem;
                    display: block;
                    background: #A3A4A4;
                    opacity: 0.5;
                    margin:0 0.05rem;
                }
                span.swiper-pagination-bullet-active{
                    opacity: 1;
                }
            }
        }
    }
    .creditCard_bank{
        width: 6.9rem;
        margin: 0 auto;
        padding-top: 0.4rem;
        h1{
            color: #3D4A5B;
            opacity: 0.8;
            font-size: 0.32rem;
            position: relative;
            a{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                font-size: 0.28rem;
                color: #3D4A5B;
                font-weight: 100;
                background: url(~@/image/icon_jump2.png) no-repeat right center;
                background-size: 0.16rem 0.26rem;
                padding-right: 0.26rem;
                opacity: 0.9;
            }
        }
        .bankList{
            width: 100%;

            padding-top: 0.5rem;
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            //padding-left: 0.1rem;
            //padding-right: 0.1rem;
            .item{
                width:2.2-0.4rem;
                height: 2.7-0.4rem;
                position: relative;
                background: #FFFFFF;
                box-shadow: 0 0 0.32rem 0 rgba(63,131,255,0.15);
                border-radius: 0.08rem;
                padding: 0.3rem 0.2rem 0;
                margin-bottom: 0.54rem;
                padding-top: 0.4rem;
                &.height0{
                    height: 0px;
                    visibility: hidden;
                }
                .logo{
                    width: 0.5rem;
                    height: 0.52rem;
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    top: -0.26rem;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                b{
                    color: #3D4A5B;
                    opacity: 0.9;
                    font-size: 0.30rem;
                    display: block;
                    text-align: center;
                    margin-bottom: 0.1rem;
                }
                p{
                    color: #3D4A5B;
                    opacity: 0.5;
                    font-size: 0.26rem;
                    text-align: center;
                    line-height: 0.36rem;
                    .border-bottom(#E0E0E0);
                    padding-bottom: 0.18rem;
                    margin-bottom: 0.2rem;
                    height: 0.70rem;
                }
                span{
                    display: block;
                    color: @blue;
                    font-size: 0.28rem;
                    text-align: center;
                    font-weight: 700;
                }
            }
            .forward{
                width:2.20rem;
                height: 2.70rem;
                display: flex;
                flex-direction:column;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                box-shadow: 0 0 0.32rem 0 rgba(63,131,255,0.15);
                border-radius: 0.08rem;
                margin-bottom: 0.54rem;
                p{
                    width: 100%;
                    font-weight: 700;
                    font-size: 0.3rem;
                    color: #3D4A5B;
                    opacity: 0.3;
                    text-align: center;
                }
            }
        }
    }
    .creditCard_btn{
        width: 92%;
        height: 1.58rem;
        position: fixed;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 4%;
    }
}