@import url("~@/css/base.less");

.onlineCard{
    width: 100%;
    overflow: hidden;
    padding-top: .2rem;
    background: #fff;
    .onlineCard_title{
        font-size: .28rem;
        color: #333;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding-left: .30rem;
        img{
            width: .26*1.2rem;
            height: .28*1.2rem;
            display: block;
            margin-right: .14rem;
        }
    }
    .onlineCard_content{
        width: 100%;
        overflow: hidden;
        margin-top: .18rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &:after{
            content:"";
            position: absolute;
            width: 100%;
            height: 1px;
            transform: scaleY(0.5);
            background: #f4f5fb;
            left: 0;
            top: 0;
        }
        .item{
            width: 33.3333%; 
            height: 2.3rem;
            position: relative;
            overflow: hidden;
            .item_tag{
                width: 1.5rem;
                height: .28rem;
                position: absolute;
                top: .12rem;
                right: -0.4rem;
                transform: rotate(45deg);
                background: #FF323C;
                span{
                    font-size: .24rem;
                    color: #fff;
                    width: 100%;
                    height: .28rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: scale(0.9);

                }
            }
            &:after{
                content:"";
                position: absolute;
                width: 100%;
                height: 1px;
                transform: scaleY(0.5);
                background: #f4f5fb;
                left: 0;
                bottom: 0;
            }
            .item_line{
                width: 100%; 
                height: 100%;
                padding-top: .4rem;
                position: relative;
                overflow: hidden;
                img{
                    width: .6rem;
                    height: .6rem;
                    display: block;
                    margin: 0 auto .16rem;
                }
                b{
                    display: block;
                    color: #3D4A5B;
                    text-align: center;
                    font-size: .28rem;
                }
                p{
                    color: #E95647;
                    text-align: center;
                    font-size: .24rem;
                    white-space: nowrap;
                    transform: scale(0.9);
                }
                &:after{
                    content:"";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    transform: scaleX(0.5);
                    background: #f4f5fb;
                    right: 0;
                    bottom: 0;
                }
                &.grey{
                    opacity: 0.2;
                    -webkit-filter: grayscale(100%); 
                }
            }
        }
    }
}