<template>
    <div class="reward">
        <div class="reward-bg">
            <img src="./image/liming@2x.png">
            <div class="reward-bg-title">奖励只可从上到下依次领取</div>
        </div>
        <div class="reward-bottom" v-for="(item, index) in rewardList" :key=index>
            <div v-if="item.rewardShow" class="reward-bottom-list">
                <div class="rewardLeft">{{item.selfRewardAmount}}元</div>
                <div :class="item.standardStatus == 'SATISFY'? 'rewardImg ': ''"></div>
                <div class="rewardRight">
                    <div class="rewardRight-title">{{item.taskTitle}}
                        <span :class="item.changeJian ? 'rewardRightCow':'rewardRightRow'" @click="clickUnfold(item,index)"></span>
                    </div>
                    <div :class="item.sendStatus == 'NO_RECEIVE' ? 'rewardRight-hide': item.sendStatus == 'PEND' ?'rewardRight-show':'rewardRight-hide'" @click.stop="clickGetReward(item,index,item.sendStatus)">{{item.sendStatus == 'NO_RECEIVE' ? '领取' : item.sendStatus == 'PEND' ? '领取' : '已领取'}}</div>
                </div>
            </div>
            <div v-if="!item.rewardShow" class="reward-bottom-listShow">
                <div class="rewardLeft">{{item.selfRewardAmount}}元</div>
                <div :class="item.standardStatus == 'SATISFY'? 'rewardImg ': ''"></div>
                <div class="rewardRight">
                    <div class="rewardRight-title">{{item.taskTitle}}
                        <span :class="item.changeJian ? 'rewardRightCow':'rewardRightRow'" @click="clickUnfold(item,index)"></span>
                        <div class="rewardRight-unFoldTitle">{{item.taskContent}}</div>
                    </div>
                    <div :class="item.sendStatus == 'NO_RECEIVE' ? 'rewardRight-hide': item.sendStatus == 'PEND' ?'rewardRight-show':'rewardRight-hide'" @click.stop="clickGetReward(item,index,item.sendStatus)">{{item.sendStatus == 'NO_RECEIVE' ? '领取' : item.sendStatus == 'PEND' ? '领取' : '已领取'}}</div>
                </div>
            </div>
        </div>
        <div class="reward-letter">
            <div class="reward-letter-text">规则说明</div>
            <div>活动面向人群：</div>
            <div class="reward-letter-log">本活动仅对2021年9月1日后注册逍遥推手的会员以及2021年9月1日前注册但无机具采购、无上级划拨机具、无团队、无任何激活、无任何增值业务的会员有效。</div>
            <div>活动参与方式：</div>
            <div>1、参与本活动的会员需要根据逍遥推手APP内发布的任务1-任务6的任务指引按照顺序逐个完成每项任务，并领取该项任务的奖励，</div>
            <div class="reward-letter-margin"> 2、任务7、任务8、任务9三项若在一个月内完成，每个月只能按顺序领取一项任务奖励；</div>
            <div>活动时间：</div>
            <div>1、本活动任务截止日期为2022年8月31日，结束后将发布新的活动任务;</div>
            <div class="reward-letter-margin">2、本活动最终解释权归逍遥推手所有。</div>
        </div>
        <transition name="fade">
            <div v-if="emptyConDia" @touchmove.prevent @mousewheel.prevent>
                <div class="backImg"></div>
                <div class="conDia">
                    <div class="title">
                        亲爱的推手，您不符合活动参与条件，请关注推手平台其他活动，谢谢。
                    </div>
                    <div class="btn">
<!--                        <button class="cancle" @click="goBackPage(1)">回首页</button>-->
                        <button class="confirm" @click="confirmDia(1)">关闭</button>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div v-if="conDia" @touchmove.prevent @mousewheel.prevent>
                <div class="backImg"></div>
                <div class="conDia" >
                    <div class="title">
                        亲爱的推手，恭喜您，您已完成全部任务，可继续参与推手平台其他任务，谢谢。
                    </div>
                    <div class="btn">
<!--                        <button class="cancle" @click="goBackPage(1)">回首页</button>-->
                        <button class="confirm" @click="confirmDia(1)">关闭</button>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<style lang="less" src="./css/rewarList.less" scoped></style>
<script src="./script/rewardList.js" scoped></script>
