@import url("./base.less");

.activity_pos{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	.head{
		width: 100%;
		img{
			width: 100%;
			display: block;
		}
	};
	.body{
		width: 100%;
		overflow: hidden;
		background-image: linear-gradient(180deg, #81eb8e 0%, #10c476 100%);
		padding-bottom: 1.733333rem;
		.body_bg{
			width: 92%;
			overflow: hidden;
			margin: 0 auto;
			background: #fff;
			border-radius: 0.133333rem;
			padding-bottom: 0.8rem;
			.ctivity_tips{
				width: 90%;
				margin: 0.666667rem auto;
				p{
					//color: @orange;
					font-size: 0.24rem;	
					line-height: 0.4rem;
				}
			};
			.ctivity_rule{
				width: 90%;
				margin: 0 auto;
				color: #666;
				h1{
					font-size: 0.3rem;
					margin-bottom: 0.133333rem;
				}
				p{
					font-size: 0.24rem;	
					line-height: 0.4rem;
				}
			}
		}
	};
	.activity_button{
		width: 100%;
		height: 1.48rem;
		background: #fff;
		position: fixed;
		left: 0;
		bottom: 0;
		display: -webkit-box;
		-webkit-box-flex:2;
		a{
			color: #666;
			font-size: 0.32rem;
			line-height: 1.48rem;
			display: block;
			height: 100%;
			-webkit-box-flex:1;
			text-align: center;
			span{
				display: inline-block;
				width: 100%;
				height: 0.72rem;
				line-height: 0.72rem;
				box-sizing: border-box;
				border-right: 1px solid #cccccc
			}
		}
	}
}