@import url("../css/base.less");

.activity_cashback{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	//padding-bottom: 1.066667rem;
	.head{
		width: 100%;
		img{
			width: 100%;
			display: block;
		}
	};
	.body{
		width: 100%;
		overflow: hidden;
		background: #f5506d;
		padding-bottom: 1.466667rem;
		.cashback_bg{
			width: 7.22rem;
			overflow: hidden;
			margin: 0 auto;
			.cashback_title{
				width: 100%;
				background: #e93a62;
				height: 0.866667rem;
				border-radius: 0.933333rem;
				position: relative;
				.cashback_line{
					width: 7.04rem;
					height: 0.266667rem;
					background: #c91d44;
					border-radius: 0.4rem;
					.center();
				};
			};
			.cashback_content{
				width: 6.84rem;
				//overflow: hidden;
				background: #fff5f7;
				margin: -0.866667/2rem auto 0.6rem;
				position: relative;
				z-index: 10;
				padding: 0.533333rem 0 0;
				img{
					width: 100%;
					margin: 0.4rem auto;
					display: block;
					&:last-child{
						margin-top: -0.8-0.4rem;
					}
				}
				p{
					width: 5.92rem;
					margin: 0 auto;
					color: @purple;
					font-size: 0.24rem;
					line-height: 0.4rem;
					text-align: justify;
				}
				h1{
					width: 6.12rem;
					margin: 0 auto 0.5rem;
					color: #666;
					font-size: 0.3rem;
					text-align: center;
				}
				span{
					width: 6.12rem;
					margin: 0 auto;
					color: #666;
					font-size: 0.24rem;
					line-height: 0.4rem;
					text-align: justify;
					display: block;
				}
				i{
					height: 0.5rem;
					display: block;
				}
			}
		}
	};

	.activity_button{
		width: 100%;
		height: 1rem;
		background: #fff;
		position: fixed;
		left: 0;
		bottom: 0;
		display: -webkit-box;
		-webkit-box-flex:2;
		z-index: 50;
		a{
			color: #666;
			font-size: 0.32rem;
			line-height: 1rem;
			display: block;
			height: 100%;
			-webkit-box-flex:1;
			text-align: center;
			span{
				display: inline-block;
				width: 100%;
				height: 0.52rem;
				line-height: 0.52rem;
				box-sizing: border-box;
				border-right: 1px solid #cccccc
			}
		}
	}
}