@import url("../css/base.less");

.activity{
	width: 92%;
	overflow: hidden;
	margin: 0 auto;

	a{
		width: 100%;
		overflow: hidden;
		margin-top: 0.4rem;
		display: block;
		border-radius: 0.1rem;
		img{
			width: 100%;
			height: 3.16rem;
			display: block;
			overflow: hidden;
			border: none;
		}
		p{
			padding: 0.2rem 0.32rem 0.25rem 0.32rem;
			overflow: hidden;
			background: #fff;
			display: -webkit-box;
			-webkit-box-pack:justify;
			span{
				color: #666;
				font-size: 0.3rem;
				height:0.56rem;
				line-height:0.56rem;
				display: block;
			}
			i{
				width: 1.6rem;
				height: 0.56rem;
				line-height: 0.56rem;
				color: #fff;
				font-size: 0.3rem;
				background: @orange;
				text-align: center;
				display: block;
				border-radius: 0.933333rem;
			}
		};
		&.expire{
			img{
				opacity: 0.35;
			}
			p{
				i{
					background: #cccccc;
				}
			}
		}
	}
}