/*顶部报错提示*/
.tips{
  width: 100%;
  height: 0.933333rem;
  position: fixed;
  top: -0.933333rem;
  left: 0;
  text-align: center;
  font-size: 0.28rem;
  color: #000;
  line-height: 0.933333rem;
  z-index: 9999;
  white-space: nowrap;
}

.tips_error{
  background: #fff;
}

.tips_success{
  background: #04be02;
}

/*顶部报错提示*/

//加载更多；

.gray(){
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

#contentPage{
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.boxSizing(){
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.border-bottom(@color:#e5e5e5,@height:1px){
  position:relative;
  &:after{
      content:'';
      position: absolute;
      left: 0;
      bottom:0;
      background: @color;
      width: 100%;
      height: @height;
      transform: scaleY(0.5);
  }
  &:last-child{
      &:after{
        content:'';
        background: none;
      }
  }
}

.border-1px(@color:#e5e5e5){
    position:relative;
    &:after{
        content:'';
        position: absolute;
        left: -50%;
        bottom:-50%;
        width: 200%;
        height: 200%;
        transform: scale(0.5);
        border: 1px solid @color;
        box-sizing: border-box;
        border-radius: .06rem;
    }
  }

.border-right(@color:#e5e5e5){
  position:relative;
  &:after{
      content:'';
      position: absolute;
      right: 0;
      bottom:0;
      background: @color;
      width: 96%;
      height: 1px;
      transform: scaleY(0.5);
  }
}

.border-center(@color:#e5e5e5){
  position:relative;
  &:after{
      content:'';
      position: absolute;
      left: 50%;
      bottom:0;
      background: @color;
      width: 6.9rem;
      height: 1px;
      transform: scaleY(0.5) translateX(-50%);
  }
}

.border-top(@color:#E8E8EA){
  position:relative;
  &:after{
      content:'';
      position: absolute;
      left: 0;
      top:0;
      background: @color;
      width: 100%;
      height: 1px;
      transform: scaleY(0.5);
  }
}



.v_center(){
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}

.h_center(){
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}

.center(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}

.over(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.transition(@time){
    transition:@time;
    -webkit-transition:@time
}


.pull-to-refresh-layer{
  height: 1.6rem;
}

.disableSelect(){
  -webkit-touch-callout:none;
  -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
}

@blue:#3F83FF;
@dark:#3d4a5b;
@light_dark:#acb3b9;
@default:#e4e5e8;
@grey:#B7CAE1;
@backgroundColor:#EBF0F7;
@orange:#feba00;
@purple:#5200a6;


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to{
  opacity: 0
}

.default_button{
    width: 100%;
    height: 0.94rem;
    background:@blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.36rem;
    border-radius: 0.08rem;
    color: #fff;
    margin: 0.1rem 0;
}

.bold{
  font-size: "PingFangSC-Semibold";
}

.flex(@pos:center){
    display: flex;
    justify-content:@pos;
    align-items:center;
}

.scroller{
    position: relative;
    //overflow: hidden;
    //margin-bottom: 0.2rem;
}

.loading-tips{
    padding: 0 .15rem;
    height: .5rem;
    text-align: center;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 50%;
    bottom: .5rem;
    transform: translateX(-50%);
    font-size: .24rem;
    color: #fff;
    border-radius: .05rem;
    line-height: .5rem;
    
}

.iphoneX_padding_bottom(){
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    &:after{
      content: "";
      height:constant(safe-area-inset-bottom);
      height:env(safe-area-inset-bottom);
    }
  }
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
    &:after{
      content: "";
      height:constant(safe-area-inset-bottom);
      height:env(safe-area-inset-bottom);
    }
  }
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
    &:after{
      content: "";
      height:constant(safe-area-inset-bottom);
      height:env(safe-area-inset-bottom);
    }
  }
}

.iphoneX_padding_fixed(){
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    &{
      bottom:constant(safe-area-inset-bottom);
      bottom:env(safe-area-inset-bottom);
    }
  }
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
    &{
      bottom:constant(safe-area-inset-bottom);
      bottom:env(safe-area-inset-bottom);
    }
  }
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
    &{
      bottom:constant(safe-area-inset-bottom);
      bottom:env(safe-area-inset-bottom);
    }
  }
}