<template>
    <div v-show="showPay">
        <div class="login_wrap">
            <div class="login_wrap_inner">
                <img class="logo" src="./images/icon.png" alt="">
                <h4>前往犀牛会员购买</h4>
                 <div class="shop_info">
                     <h5 class="shop_title">{{goodsName |textOverflow(16) }}</h5>
                     <section class="pay_info">
                         <section class="shop_price_dia">
                             <span>￥</span><em>{{priceIntegerDigits}}</em>.{{priceDecimal}}
                         </section>
                         <section class="price_del">
                             <span>¥</span><em>{{price}}</em>
                         </section>
                     </section>
                 </div>
                <span class="login_btn" @click="goPay">立即前往</span>
            </div>
            <div class="close" @click="closePage()">
                <i></i>
            </div>
        </div>
        <div class="mask" ></div>
    </div>
</template>
<style src="./userPayDialog.less" lang="less" scoped></style>
<script src="./userPayDialog.js"></script>
