//登录弹窗
.login_wrap {
  width: 6.2rem;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate3d(-50%, -50%, 0);
  background: #FFF;
  border-radius: .08rem;

  .close {
    position: absolute;
    top: 0;
    right: 0;

    i {
      margin: .2rem;
      display: block;
      width: .32rem;
      height: .32rem;
      background: url("./images/guanbi.png") no-repeat;
      background-size: cover;
    }
  }

  .login_wrap_inner {
    font-size: .34rem;
    padding: 0 .64rem;
    position: relative;

    .logo {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: .24rem;
      margin: .48rem auto .3rem;
      display: block;
    }


    h4 {
      text-align: center;
      font-size: .36rem;
      color: #313757;
      letter-spacing: 0;
    }

    .shop_info {
      margin-bottom: .72rem;

      .shop_title {
        opacity: 0.6;
        font-size: .3rem;
        color: #3D4A5B;
        margin: .32rem 0 .12rem 0;
        letter-spacing: 0;
      }
      .pay_info{
        display: flex;
        align-items: center;
      }

      .shop_price_dia {

        color: #FF3A7A;
        font-weight: normal;

        &::before {
          content: '';
          width: .36rem;
          height: .3rem;
          background: url("./images/huangguan.png") no-repeat;
          background-size: cover;
          display: inline-block;
          margin-right: .08rem;
        }

        em {
          font-size: .48rem;
          line-height: .48rem;
        }
      }

      .price_del {
        position: relative;
        left: .1rem;
        top: .02rem;
        //color: #999;
        font-weight: normal;
        margin-left: .1rem;
        opacity: 0.6;
        font-size: .24rem;
        color: #3D4A5B;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 50%;
          background: #3D4A5B;
          width: 100%;
          height: 1px;
          -webkit-transform: scaleY(0.5);
          -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
        }
      }
  }

  .login_btn {
    background: #3F83FF;
    border-radius: 3px;
    display: block;
    width: 4.92rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .32rem;
    color: #FFF;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: .7rem;
  }

  .login_agreement {
    font-size: .24rem;
    margin: .32rem 0 .34rem;
    text-align: center;
    color: #3D4A5B;

    span {
      display: block;
    }

    a {
      color: #3F83FF;
      position: relative;
      left: -.06rem;
    }
  }
}

}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
}


::-webkit-input-placeholder { /* WebKit browsers */
  color: #3D4A5B;
  font-size: .34rem;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #3D4A5B;
  font-size: .34rem;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #3D4A5B;
  font-size: .34rem;
}