<template>
    <van-form @submit="onSubmit" class="addressList">
        <van-field
                v-model="params.username"
                clearable
                type="PhoneNumber"
                name="姓名"
                label="姓名"
                placeholder="请输入收货人姓名"
                @input="change($event)"
        />
        <van-field
                v-model="params.PhoneNumber"
                clearable
                type="PhoneNumber"
                name="手机号码"
                label="手机号码"
                placeholder="请输入收货人手机号"
        />
        <van-field
                v-model="params.fieldValue"
                is-link
                readonly
                label="所在地区"
                placeholder="选择省/市/区"
                @click="show = true"
        />
        <van-popup v-model="show" round position="bottom" >
            <van-cascader
                    v-model="cascaderValue"
                    title="请选择所在地区"
                    :options="options"
                    @close="show = false"
                    @finish="onFinish"

            />
        </van-popup>
        <van-field
                class="detailsAddress"
                v-model="params.addressDetail"
                name="详情地址"
                label="详情地址"
                placeholder="街道门牌、楼层房间号等信息"
        />
        <van-checkbox v-model="radio" checked-color="#F3782C" class="checkbox"> 设为默认地址</van-checkbox>
        <div class="vanButton" @click="onQuery">
            <van-button round block type="info" native-type="submit">保存</van-button>
        </div>
    </van-form>
</template>

<script>
    import areaData from  './js/area'
    import api from "@/api.config.js";
    import * as common from "@/libs/common.js";
    import { Toast } from 'vant'
    export default {
        name: "addAdress",
        data(){
            return{
                params:{
                    username: '',
                    PhoneNumber: '',
                    fieldValue: '',
                    addressDetail:'',
                },
                radio:false,
                show: false,
                cascaderValue: '',
                options: areaData,
            }
        },
        created(){
            let _this = this
            // _this.init()
        },
        methods:{
            init(){
                let _this = this
                common.Ajax({
                    "url":api.KY_IP+"addr/list",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        pageNum:_this.pageNum
                    }
                },(data)=>{
                    _this.addArray = []
                    for(let i in data.data){
                        if(data.data[i].id){
                            _this.addArray = data.data[i]
                        }
                    }
                });
            },
            // 全部选项选择完毕后，会触发 finish 事件
            onFinish({ selectedOptions }) {
                this.show = false;
                this.params.fieldValue = selectedOptions.map((option) => option.text).join('/');
                this.provinceCode = selectedOptions[0].value
                this.province = selectedOptions[0].text
                this.cityCode = selectedOptions[1].value
                this.city = selectedOptions[1].text
                this.areaCode = selectedOptions[2].value
                this.area = selectedOptions[2].text
            },
            change(e){
                this.$forceUpdate();
            },
            onQuery(){
                let _this = this
                if(!_this.params.username){
                    Toast('请输入姓名');
                    return
                }
                if(!_this.params.PhoneNumber){
                    Toast('请输入手机号');
                    return;
                }
                if(!_this.params.fieldValue){
                    Toast('请选择所在地区');
                    return;
                }
                if(!_this.params.addressDetail){
                    Toast('请填写详情地址');
                    return;
                }
                common.Ajax({
                    "url":api.KY_IP+"addr/save",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        receivePerson:_this.params.username,
                        phoneNo:_this.params.PhoneNumber,
                        provinceCode:_this.provinceCode,
                        province:_this.province,
                        cityCode:_this.cityCode,
                        city:_this.city,
                        areaCode:_this.areaCode,
                        area:_this.area,
                        addressDetail:_this.params.addressDetail,
                        isDefault:_this.radio
                    }
                },(data)=>{
                    if (data.code == '0000') {
                        // this.$router.go(-1)
                        common.toast({
                            content: '保存成功'
                        });
                        this.$router.push({
                            "path":"adressList",
                        })
                        _this.init()
                    }
                });

            }
        }
    }
</script>
<style lang="less" src="./css/addAdress.less"></style>
<style lang="less" src="./css/addAdressScope.less" scoped></style>
