<template>
    <div class="addressMy">
        <van-swipe-cell v-for="(item,index) in addArray" :key="index">
            <div class="content" >
                <div class="content-left" @click="clickJump(item,index)">
                    <div class="content-left-top">
                        <div class="name">{{item.receivePerson}}</div>
                        <div class="mobile">{{$startPhone(item.phoneNo)}}</div>
                        <div class="default" v-if="item.isDefault"></div>
                    </div>
                    <div class="content-left-bottom">
                        {{item.province}}{{item.city}}{{item.area}}{{item.addressDetail}}
                    </div>
                </div>
                <div class="content-right" @click="onEditor(item,index)"></div>

            </div>
            <div class="line"></div>
            <template #right >
                <div class="right">
                    <van-button square type="danger" text="设置默认" @click="defaultList(item,index)" />
                    <van-button square type="primary" text="删除" @click="deleteList(item,index)" />
                </div>
            </template>
        </van-swipe-cell>
        <div class="btn" @click="onAddress">新增收货地址</div>
    </div>
</template>

<script>
    import api from "@/api.config.js";
    import * as common from "@/libs/common.js";
    import { Toast } from 'vant';
    export default {
        data(){
            return{
                addArray:[],
                id:''
            }
        },
        created(){
          this.init()
        },
        methods: {
            init(){
                let _this = this
                _this.addArray = []
                common.Ajax({
                    "url":api.KY_IP+"addr/list",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        pageNum:_this.pageNum
                    }
                },(data)=>{
                    _this.addArray = data.data
                });
            },
            onAddress(){
                this.$router.push({
                    "path":"addAdress"
                });
            },
            onEditor(item,index){
                this.$router.push({
                    "path":"editorAdress",
                    "query":{
                       Data:JSON.stringify(item)
                    }
                })
            },
            deleteList(item,index){
                let _this = this
                common.Ajax({
                    "url":api.KY_IP+"addr/update",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        receivePerson:item.receivePerson,
                        phoneNo:item.phoneNo,
                        provinceCode:item.provinceCode,
                        province:item.province,
                        cityCode:item.cityCode,
                        city:item.city,
                        areaCode:item.areaCode,
                        area:item.area,
                        addressDetail:item.addressDetail,
                        isDefault:item.isDefault,
                        addressId:item.id,
                        status:'DISABLE'

                    }
                },(data)=>{
                    if (data.code == '0000') {
                        _this.init()
                        common.toast({
                            content: '删除成功'
                        });
                    }
                });
            },
            defaultList(item,index){
                let _this = this
                common.Ajax({
                    "url":api.KY_IP+"addr/update",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        receivePerson:item.receivePerson,
                        phoneNo:item.phoneNo,
                        provinceCode:item.provinceCode,
                        province:item.province,
                        cityCode:item.cityCode,
                        city:item.city,
                        areaCode:item.areaCode,
                        area:item.area,
                        addressDetail:item.addressDetail,
                        isDefault:'true',
                        addressId:item.id,
                        status:'ENABLE'

                    }
                },(data)=>{
                    if (data.code == '0000') {
                        _this.init()
                    }
                });
            },
            clickJump(item,index){
                this.$router.push({
                    "path":"machinesToolsIsApply",
                    "query":{
                        "addressId":item.id,
                    }
                });
            }
        },
    }
</script>
<style lang="less" src="./css/addressList.less" scoped></style>
