<template>
    <van-form @submit="onSubmit" class="addressList">
        <van-field
                v-model="params.username"
                name="姓名"
                label="姓名"
                placeholder="请输入收货人姓名"
                clearable
        />
        <van-field
                v-model="params.PhoneNumber"
                type="PhoneNumber"
                name="手机号码"
                label="手机号码"
                placeholder="请输入收货人手机号"
                clearable
        />
        <van-field
                v-model="params.fieldValue"
                is-link
                readonly
                label="所在地区"
                placeholder="选择省/市/区"
                @click="show = true"
                :closeable="true"
        />
        <van-popup v-model="show" round position="bottom">
            <van-cascader
                    v-model="cascaderValue"
                    title="请选择所在地区"
                    :options="options"
                    @close="show = false"
                    @finish="onFinish"
                    :closeable="true"
            />
        </van-popup>
        <van-field
                class="detailsAddress"
                v-model="params.addressDetail"
                name="详情地址"
                label="详情地址"
                placeholder="街道门牌、楼层房间号等信息"
        />
        <van-checkbox v-model="radio" checked-color="#F3782C" class="checkbox">设为默认地址</van-checkbox>
        <div class="vanButton" @click="onQuery">
            <van-button round block type="info" native-type="submit">保存</van-button>
        </div>
    </van-form>
</template>

<script>
    import areaData from  './js/area'
    import api from "@/api.config.js";
    import * as common from "@/libs/common.js";
    import { Toast } from 'vant';
    export default {
        name: "addAdress",
        data(){
            return{
                params:{
                    username: '',
                    PhoneNumber: '',
                    fieldValue: '',
                    addressDetail:'',
                },
                radio:true,
                show: false,
                cascaderValue: '',
                options: areaData,
                addArray:'',
                provinceCode:'',
                province:'',
                cityCode:'',
                city:'',
                area:'',
                areaCode:'',
            }
        },
        created(){
            if(this.$route.query){
                let Data = JSON.parse(this.$route.query.Data)
                this.params.username = Data.receivePerson
                this.params.PhoneNumber = Data.phoneNo
                this.params.fieldValue = Data.province +'/'+ Data.city +'/'+Data.area
                this.params.addressDetail = Data.addressDetail
                this.radio = Data.isDefault
                this.provinceCode = Data.provinceCode
                this.province = Data.province
                this.cityCode = Data.cityCode
                this.city = Data.city
                this.area =Data.area
                this.areaCode = Data.areaCode
                this.init(Data.id)
            }
        },
        methods:{
            init(id){
                let _this = this
                common.Ajax({
                    "url":api.KY_IP+"addr/list",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        pageNum:_this.pageNum
                    }
                },(data)=>{
                    _this.addArray =[];
                    for(let i in data.data){
                        if(data.data[i].id ==id){
                            _this.addArray = data.data[i]
                            _this.isDefault = data.data[i].isDefault
                        }
                    }
                });
            },
            // 全部选项选择完毕后，会触发 finish 事件
            onFinish({ selectedOptions }) {
                this.show = false;
                this.params.fieldValue = selectedOptions.map((option) => option.text).join('/');
            },
            onQuery(){
                let _this = this
                if(!_this.params.username){
                    Toast('请输入姓名');
                    return
                }
                if(!_this.params.PhoneNumber){
                    Toast('请输入手机号');
                    return;
                }
                if(!_this.params.fieldValue){
                    Toast('请选择所在地区');
                    return;
                }
                if(!_this.params.addressDetail){
                    Toast('请选择详情地址');
                    return;
                }
                common.Ajax({
                    "url":api.KY_IP+"addr/update",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        receivePerson:_this.params.username,
                        phoneNo:_this.params.PhoneNumber,
                        provinceCode:_this.provinceCode,
                        province:_this.province,
                        cityCode:_this.cityCode,
                        city:_this.city,
                        areaCode:_this.areaCode,
                        area:_this.area,
                        addressDetail:_this.params.addressDetail,
                        isDefault:_this.radio,
                        addressId:_this.addArray.id,
                        status:'ENABLE',

                    }
                },(data)=>{
                    if (data.code == '0000') {
                        common.toast({
                            content: '保存成功'
                        });
                        this.$router.go(-1)
                    }
                });
            }
        }
    }
</script>

<style lang="less" src="./css/editorAdress.less"></style>
<style lang="less" src="./css/editorAdressScope.less" scoped></style>

