.bar_char {
  margin-top: .48rem;
  display: flex;
  flex-direction: column;
  & > span{
    font-size:.28rem;
    color: #3F83FF;
    text-align: center;
    margin-top: .48rem;
    margin-bottom: .8rem;
    display: block;

  }
  .percent_list {
    display: flex;
    margin-left: 1.38rem;
    margin-right: .44rem;
    //width: 5.8rem;
    li {
      font-size: .24rem;
      color: #3D4A5B;
      opacity: 0.4;
      margin-right: .42rem;
    }
  }

  .bar_list {
    margin-top: .32rem;
    //width: 4.78rem;
    max-height: 3.82rem;
    background: url("../../image/statistics/bar_bg.png") no-repeat ;
    background-size: 4.78rem 3.82rem;
    background-position: 1.35rem;
    //margin-right: .44rem;
    .bar_item {
      font-size: .2rem;
      display: flex;
      margin-bottom: .28rem;
      text-size-adjust: auto;
      &:last-child{
        margin-bottom: 0;
      }
      label {
        text-align: right;
        width: 1.12rem;
        height: .4rem;
        opacity: 0.6;
        color: #3D4A5B;
      }
      .percent_bg {
        margin-left: .24rem;
        width: 4.79rem;
        height: .4rem;
        position: relative;
        display: flex;
        align-items: center;
        .percent {
          width: 0;
          height: 100%;
          background: #464C6E;
          display: inline-block;
          transition: width 1s ease-out;
        }
        em {
          color: #3D4A5B;
          position: absolute;
          left: 100%;
          min-width: 1rem;
          margin-left: .16rem;
        }
      }
    }
  }
}