<template>
    <div class="bar_char">
        <!--顶部百分比-->
        <ul class="percent_list">
            <li>0%</li>
            <li>20%</li>
            <li>40%</li>
            <li>60%</li>
            <li>80%</li>
            <li>100%</li>
        </ul>
        <!--每一个项目-->
        <ul class="bar_list" style="max-height: 4rem; overflow:hidden;">
            <li class="bar_item" v-for="(i,idx) in zData.buss" :key="idx">
                <label>{{i.bussName}}</label>
                <div class="percent_bg">
                    <!-- <span class="percent" :style="{ background: '#464C6E',width: (i+1)*10+'%'}"></span>
                    <em :style="{left: (i+1)*10+'%'}">115单</em> -->
                    <span class="percent" :style="{ 'background': '#464C6E',width: i.percentage}"></span>
                    <em :style="{left: i.percentage}">{{i.cumulativeAmount}}{{i.type}}</em>
                </div>
            </li>
        </ul>
        <span v-show="isMore">显示更多</span>
    </div>
</template>
<style src="./bar.less" lang="less"></style>
<script src="./bar.js"></script>