@import url("./swiper.css");

.swiper-lazy{
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-container {
    width: 100%;
    height: 7.5rem;
    position: relative;
    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        a{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    .swiper-pagination-bullets{
    	span{
        	&.swiper-pagination-bullet{
              width: 8px;
              height: 8px;
              display: inline-block;
              border-radius: 100%;
              background: #000;
              opacity: .2;
	        }
	        &.my-bullet-active{
    			width:0.2rem;
	            height:0.2rem;
	            display: inline-block;
	            background: #ccc;
	            opacity: 1;
	            //margin: 0 0.078125rem;
    		}
        }
    }


    
}