Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve 'E:\work\xyPushHand19.9.9\static\view\staticviewindex.html' in 'E:\work\xyPushHand19.9.9':
  Error: Can't resolve 'E:\work\xyPushHand19.9.9\static\view\staticviewindex.html' in 'E:\work\xyPushHand19.9.9'
  
  - compiler.js:76 
    [xyPushHand19.9.9]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:296 Compiler.<anonymous>
    [xyPushHand19.9.9]/[webpack]/lib/Compiler.js:296:10
  
  - Compiler.js:499 
    [xyPushHand19.9.9]/[webpack]/lib/Compiler.js:499:13
  
  - Tapable.js:202 next
    [xyPushHand19.9.9]/[tapable]/lib/Tapable.js:202:11
  
  - CachePlugin.js:62 Compiler.<anonymous>
    [xyPushHand19.9.9]/[webpack]/lib/CachePlugin.js:62:5
  
  - Tapable.js:206 Compiler.applyPluginsAsyncSeries
    [xyPushHand19.9.9]/[tapable]/lib/Tapable.js:206:13
  
  - Compiler.js:496 
    [xyPushHand19.9.9]/[webpack]/lib/Compiler.js:496:10
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [xyPushHand19.9.9]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:649 self.applyPluginsAsync.err
    [xyPushHand19.9.9]/[webpack]/lib/Compilation.js:649:19
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [xyPushHand19.9.9]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:640 self.applyPluginsAsync.err
    [xyPushHand19.9.9]/[webpack]/lib/Compilation.js:640:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [xyPushHand19.9.9]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:635 self.applyPluginsAsync.err
    [xyPushHand19.9.9]/[webpack]/lib/Compilation.js:635:10
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [xyPushHand19.9.9]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:631 sealPart2
    [xyPushHand19.9.9]/[webpack]/lib/Compilation.js:631:9
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [xyPushHand19.9.9]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:579 Compilation.seal
    [xyPushHand19.9.9]/[webpack]/lib/Compilation.js:579:8
  
  - Compiler.js:493 
    [xyPushHand19.9.9]/[webpack]/lib/Compiler.js:493:16
  
  - Tapable.js:289 
    [xyPushHand19.9.9]/[tapable]/lib/Tapable.js:289:11
  
  - Compilation.js:481 _addModuleChain
    [xyPushHand19.9.9]/[webpack]/lib/Compilation.js:481:11
  
  - Compilation.js:370 Compilation.errorAndCallback
    [xyPushHand19.9.9]/[webpack]/lib/Compilation.js:370:4
  
  - Compilation.js:391 moduleFactory.create
    [xyPushHand19.9.9]/[webpack]/lib/Compilation.js:391:12
  
  - NormalModuleFactory.js:247 factory
    [xyPushHand19.9.9]/[webpack]/lib/NormalModuleFactory.js:247:20
  
  - NormalModuleFactory.js:65 resolver
    [xyPushHand19.9.9]/[webpack]/lib/NormalModuleFactory.js:65:21
  
  - NormalModuleFactory.js:138 asyncLib.parallel
    [xyPushHand19.9.9]/[webpack]/lib/NormalModuleFactory.js:138:21
  
  - async.js:3888 
    [xyPushHand19.9.9]/[async]/dist/async.js:3888:9
  
  - async.js:473 
    [xyPushHand19.9.9]/[async]/dist/async.js:473:16
  
  - async.js:1062 iteratorCallback
    [xyPushHand19.9.9]/[async]/dist/async.js:1062:13
  
  - async.js:969 
    [xyPushHand19.9.9]/[async]/dist/async.js:969:16
  
  - async.js:3885 
    [xyPushHand19.9.9]/[async]/dist/async.js:3885:13
  
</pre><script type="text/javascript" src="./js/manifest.js"></script><script type="text/javascript" src="./js/vendor.js"></script><script type="text/javascript" src="./js/staticjsindex.js"></script>