<template>
    <div class="applyRecord">
        <div class="applyRecord-total">共计<span>{{total}}</span>条</div>
        <div class="applyRecord-list" v-for="(item, index) in applyRecordList" :key="index">
            <div class="applyRecord-list-top">
                <div class="applyTitle">{{item.productName || '---'}}</div>
                <div class="applyType">{{item.applyStatus == 'PENDING' ? '待处理' : item.applyStatus == 'SUCCESS' ? '已同意' : '已驳回'}}</div>

            </div>
            <div class="applyRecord-list-bottom">
                <div class="applyTime">申请时间：{{item.applyTime}}</div>
                <button @click="applyDetails(item,index)" class="applyDetails">{{item.details}}</button>
            </div>
        </div>
    </div>
</template>

<script>
    import api from "@/api.config.js";
    import * as common from "@/libs/common";
    export default {
        data(){
            return{
                total:'',
                pageNum:1,
                applyRecordList: []
            }
        },
        created(){
            let _this = this
            _this.init()
        },
        methods:{
            init(){
                let _this = this
                _this.detailsList()
            },
            detailsList(){
                let _this = this
                common.Ajax({
                    "url":api.KY_IP+"posApply/applyList",
                    "type": "post",
                    "data":{
                        loginKey : common.getLoginKey(),
                        pageNum:_this.pageNum
                    }
                },(data)=>{
                   _this.applyRecordList = data.data.posApplyRecordList;
                   _this.total= data.data.total
                    for(let i in _this.applyRecordList){
                        _this.applyRecordList[i].details = '查看详情'
                    }
                });
            },
            applyDetails(item,index){
                if (item.applyStatus == 'PENDING'){
                    this.$router.push({
                        "path":"changePending",
                        "query":{
                            Data:JSON.stringify(item)
                        }
                    })
                }
                if (item.applyStatus == 'SUCCESS'){
                    this.$router.push({
                        "path":"changeAgreed",
                        "query":{
                            Data:JSON.stringify(item)
                        }
                    })
                }
                if (item.applyStatus == 'FAIL'){
                    this.$router.push({
                        "path":"changeRejected",
                        "query":{
                            Data:JSON.stringify(item)
                        }
                    })
                }
            }
        }
    }
</script>
<style lang="less" src="./css/applyRecord.less"></style>
