<template>
    <div class="changeAgreed">
        <div class="changePending-bg">
<!--            <div class="changePending-rows" @click="changeRows"></div>-->
            <div class="changePending-top">
                <div class="pendingImg"></div>
                <div class="pendingText">已同意</div>
            </div>
        </div>
        <div>
            <div class="changePending-center">
                <div class="changePending-center-title">{{fieldValue}}{{addressDetail}}</div>
                <div class="changePending-center-infor">
                    <div class="pendName">{{receivePerson}}</div>
                    <div class="phoneNo">{{phoneNo}}</div>
                </div>
            </div>
            <div class="changePending-bottom">
                <div class="changePending-bottom-pro">
                    <div class="pendName">申请产品：</div>
                    <div>{{productName}}</div>
                </div>
                <div class="changePending-bottom-time">
                    <div class="phoneNo">申请时间：</div>
                    <div>{{applyTime}}</div>
                </div>
                <div class="changePending-bottom-time">
                    <div class="phoneNo">完成时间：</div>
                    <div>{{finishTime}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                finishTime:'',
                fieldValue:'',
                addressDetail:'',
                productName:'',
                phoneNo:'',
                receivePerson:'',
                applyTime:''
            }
        },
        created() {},
        mounted() {
            if(this.$route.query){
                let Data = JSON.parse(this.$route.query.Data)
                this.productName = Data.productName || '-'
                this.applyTime = Data.applyTime || '-'
                this.fieldValue = Data.province +'/'+ Data.city +'/'+Data.area+'/' || '-'
                this.addressDetail = Data.addressDetail || '-'
                this.phoneNo=this.$startPhone(Data.phoneNo) || '-'
                this.receivePerson=Data.receivePerson || '-'
                this.finishTime=Data.finishTime || '-'
            }
        },
        methods:{
            changeRows(){
                this.$router.back(-1)
            }
        }
    }
</script>
<style lang="less" src="./css/changeAgreed.less" scoped></style>
