<template>
    <div class="changePending">
        <div class="changePending-bg">
<!--            <div class="changePending-rows" @click="changeRows"></div>-->
            <div class="changePending-top">
                <div class="pendingImg"></div>
                <div class="pendingText">待处理</div>
            </div>
        </div>
        <div>
            <div class="changePending-center">
                <div class="changePending-center-title">{{fieldValue}}{{addressDetail}}</div>
                <div class="changePending-center-infor">
                    <div class="pendName">{{receivePerson}}</div>
                    <div class="phoneNo">{{phoneNo}}</div>
                </div>
            </div>
            <div class="changePending-bottom">
                <div class="changePending-bottom-pro">
                    <div class="pendName">申请产品：</div>
                    <div>{{productName}}</div>
                </div>
                <div class="changePending-bottom-time">
                    <div class="phoneNo">申请时间：</div>
                    <div>{{applyTime}}</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import api from "@/api.config.js";
    import * as common from "@/libs/common.js";
    export default {
        data(){
            return{
                fieldValue:'',
                addressDetail:'',
                productName:'',
                phoneNo:'',
                receivePerson:'',
                applyTime:''
            }
        },
        created() {
        },
        mounted() {
            if(this.$route.query){
                let Data = JSON.parse(this.$route.query.Data)
                this.addressDetail=Data.addressDetail || '-'
                this.productName=Data.productName || '-'
                this.applyTime = Data.applyTime || '-'
                this.phoneNo=this.$startPhone(Data.phoneNo) || '-'
                this.receivePerson=Data.receivePerson || '-'
                this.fieldValue = Data.province +'/'+ Data.city +'/'+Data.area+'/' || '---'
            }

        },
        methods:{
            changeRows(){
                this.$router.back(-1)
            }
        }
    }
</script>
<style lang="less" src="./css/changePending.less" scoped></style>
