<template>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="i in swiper_config.listImg"
                 >
                <div style="height: 100%;"  :data-background="i.url" class="swiper-lazy">
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <a :href="i.link?i.link:'javascript:;'"></a>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-white">
        </div>
    </div>
</template>

<script>
    // import Swiper from 'swiper';
    // import './css/swiper.css';
    export default {
        data() {
            return {}
        },
        props: {
            'swiper_config': Object
        },
        watch: {
            swiper_config(oldVal, newVal) {
                if (oldVal !== newVal) {
                    this.initSwiper();
                }
            }
        },
        methods: {
            initSwiper() {
                let me = this;
                var swiper = new Swiper('.swiper-container', {
                    lazyLoading : true,
                    pagination: '.swiper-pagination',
                    bulletActiveClass: me.swiper_config.bulletsColor ? 'my-bullet-active' : 'swiper-pagination-bullet-active',
                    paginationClickable: false,
                    loop: true,
                    speed: 600,
                    autoplay: 3000,
                    height: 750,
                    watchSlidesVisibility:true,
                    // lazy: true,
                    autoplayDisableOnInteraction: false,
                    observer: true,
                    observeParents: true,
                    onAutoplay: function () {
                        $(".my-bullet-active").css({
                            'background': me.swiper_config.bulletsColor
                        });
                        // console.log(1);
                    },
                    onSlideChangeStart: function (swiper) {
                        $(".my-bullet-active").css({
                            'background': me.swiper_config.bulletsColor
                        });
                        // $( ".swiper-slide-active div" ).each(function ( index ) {
                        //     let background = $( this ).attr( "data-background" );
                        //     $(this).css({
                        //         "background-image":"url("+background+")"
                        //     });
                        //     $(this).fadeOut(0).fadeIn(500);
                        // })
                    },
                    onInit: function (swiper) {
                        $(".my-bullet-active").css({
                            'background': me.swiper_config.bulletsColor
                        });
                    }
                });
                // setTimeout(()=>{
                //     swiper.lazy.load();
                // },100)
            }
        },
        mounted() {

        }
    }
</script>