<template>
  <div class="contain">
        <div class="imgBak" :style="{backgroundImage:'url('+address+')'}">
            <img class="addressImg" :src=address alt="">
        </div>
  </div>
</template>

<style lang="less" src="./css/detail.less"></style>
<script src="./script/detail.js" scoped></script>
