<template>
    <div class="userHome">
        <div class="banner">
            <img src="./image/logo@3x.png" alt="">
        </div>
        <div class="tuijian">
            <div class="tuijian-top" :class="inviteName.length > 4 ? 'tuijian-top1' : '' ">
               {{inviteName || 'XX'}}邀请您加入用户之家
            </div>
        </div>
        <div class="userLogin_container">
            <div class="userLogin_wrap">
                <div class="userLogin_wrap_inner">
                    <div class="userLogin_form">
                        <section class="userForm_group">
                            <input type="tel" maxlength="11" v-model="phoneNo" placeholder="手机号">
                        </section>
                        <section class="userForm_group">
                            <input type="tel" v-model="code" placeholder="验证码" maxlength="6">
                            <button @click="requestVeriCode" class="get_password" :disabled="butnTitle!=='获取验证码'">{{butnTitle}}</button>
                        </section>
                        <section class="userForm_group">
                            <input placeholder="密码" type="password" v-model="password" maxlength="18">
                        </section>
                    </div>
                    <span class="userLogin_btn" @click="openUser('sourceUser')">马上加入</span>
                    <p class="userLogin_agreement" >
                        *注册代表已同意<span @click="jumpUser">《用户协议》</span>与<span @click="jumpZheng" target="_blank">《隐私保护政策》</span>
                    </p>
                </div>
                <div class="download" @click="downloadUser">
                    <img src="./image/down@3x.png" alt="">下载用户之家
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="less" src="./css/register.less" scoped></style>
<script src="./script/register.js" scoped></script>
