<template>
    <div class="agreement">
        <h1 class="agreement-user">用户之家用户注册使用协议</h1>
        <h2 class="agreement-remarks">【首部及导言】</h2>
        <h2 class="agreement-welcome">欢迎使用用户之家软件及服务！</h2>
        <div>南京仁丰信息科技有限公司(以下简称“公司”或“本公司”或“甲方”)通过其合法运营的用户之家移动终端软件（<span>APP</span>，以下简称“本软件”）依据本协议为用户之家注册用户（以下简称“用户之家用户”、“用户”、“乙方”）提供服务。一旦乙方在用户之家<span>APP</span>提交用户注册申请，即意味着乙方已阅读本协议所有条款，并对本协议条款的含义及相应的法律后果已全部通晓并充分理解，同意乙方受本协议约束。</div>
        <div>本协议已对与乙方的权益具有或可能具有重大关系的条款，及对公司具有或可能具有免责或限制责任的条款用粗体字予以标注，请乙方注意。</div>
        <div>双方同意使用互联网信息技术以数据电文形式订立本协议并认同其效力。</div>
        <h2 class="agreement-welcome agreement-sign">一、【本协议的签署和修订】</h2>
        <div><span>1.1</span> 用户之家注册用户应当为持有中华人民共和国（为本协议之目的，不含香港、澳门及台湾地区，以下简称“中国”）有效身份证件的18周岁以上且具有完全民事行为能力和民事权利能力的自然人。如乙方违反前述注册限制注册了用户之家账户并使用了用户之家服务的，用户之家有权随时中止或终止乙方的用户资格，并要求乙方的监护人承担相应的责任。</div>
        <div><span>1.2</span><span> 用户之家有权根据需要不时地修改本协议正文各条款或制定、修改各用户之家规则并在用户之家相关系统板块发布，无需另行单独通知。</span>乙方应不时地注意本协议正文各条款及各用户之家规则的变更，若乙方在本协议正文相关条款和/或用户之家规则内容公告变更后继续使用用户之家网站及/或用户之家<span>APP</span>服务的，表示乙方已充分阅读、理解并接受修改后的内容，也将遵循修改后的本协议正文条款和/或用户之家规则使用用户之家的服务。<span>若乙方不同意修改后的协议内容，乙方应停止使用本软件。</span></div>
        <div><span>1.3</span> 乙方通过自行或授权有关主体根据本协议及用户之家有关规则、说明操作确认本协议后，本协议即在乙方和用户之家之间产生法律效力。乙方与其他用户之家用户之间因接受用户之家服务而产生的法律关系或法律纠纷均由乙方自行承担及解决，用户之家不承担任何责任；但乙方在此同意将全面接受和履行与其他用户之家用户在用户之家以电子形式签订的任何法律文件，并承诺按该等法律文件享有和/或放弃相应的权利、承担和/或豁免相应的义务。</div>
        <h2 class="agreement-welcome agreement-sign">二、【平台服务】</h2>
        <div><span>2.1</span> 用户之家平台：指包括用户之家网站及移动终端软件/<span>APP</span>。</div>
        <div>2.2用户之家平台服务：甲方运营的用户之家平台基于互联网，以包含用户之家平台网站、移动终端软件/<span>APP</span>等在内的各种形态向乙方提供的各项服务。</div>
        <div><p>服务的内容包括但不限于：</p><span>2.1.1</span> 乙方通过用户之家平台使用甲方自有产品及服务；</div>
        <div><span>2.1.2</span> 乙方通过用户之家平台自行申请、注册成为甲方合作方（信用卡网申、网络借贷等产品的所有权人和/或合法运营方，以下简称“产品方”）的产品用户,使用产品方提供的产品及服务；</div>
        <div><span>2.1.3</span> 乙方在本协议所述及用户之家平台展示的产品信息列示委托范围内，接受甲方委托为甲方推荐其他符合注册用户条件的自然人使用本软件提供的服务，并为甲方维护注册用户。乙方可为实现推荐目的在用户之家平台发布或以其它方式传播的内容，承诺并保证：享有所有权或使用权；内容真实、合法，不存在误导性；不侵犯任其他第三方任何权利。</div>
        <div><span>2.1.4</span> 用户之家平台提供的其他服务。</div>
        <h2 class="agreement-welcome agreement-sign">三、【用户之家用户资质要求】</h2>
        <div> 在注册和使用用户之家平台服务期间，乙方应提供自身的真实资料和信息，并保证自注册之时起至使用期间，所提交的所有资料和信息（包括但不限于身份证件、用户登录的本人移动电话号码、通讯地址、电子邮箱等甲方要求的各项资料）真实、准确、完整，且是最新的。</div>
        <h2 class="agreement-welcome agreement-sign">四、【知识产权保护】</h2>
        <div><span>4.1</span> 乙方注册使用本平台服务，并不代表甲方或“用户之家”就“用户之家”品牌使用权对乙方作出任何授权。</div>
        <div><span>4.2</span> 乙方无权对本平台服务进行篡改，复制，不得进行仿冒、盗用本平台服务或制作引起他人混淆的派生产品等侵犯甲方知识产权行为。</div>
        <div><span>4.3</span> 完全知悉用户之家对网页物料享有完全的知识产权，保证未经同意，不得擅自更改产品方制作的物料页面内容，亦不得把物料用于本约定之外的任何其他用途，不得有任何侵犯用户之家知识产权的行为。</div>
        <h2 class="agreement-welcome agreement-sign">五、【登录密码】</h2>
        <div><span>5.1</span> 乙方的登录账号为本人移动电话号码，乙方应自行设置密码并可自行修改密码，乙方的登录账号及密码是乙方使用本服务登录的唯一识别信息。乙方应妥善保管乙方的账户（用户名）和密码，不得将相关信息转让或授权给第三方使用。乙方在此确认，使用乙方的用户名和密码登录本平台后在本平台的一切行为均视为代表乙方本人意志的乙方行为，由乙方承担相应的法律后果。</div>
        <div><span>5.2</span><span> 如果乙方发现他人不当使用乙方的账户或有任何其他可能危及乙方的账户安全的情形时，乙方应当立即以书面、有效方式通知本公司，要求本公司暂停相关服务。在此，乙方理解本公司对乙方的请求采取行动需要合理时间，本公司对在采取行动前已经产生的后果（包括但不限于乙方的任何损失）不承担任何责任。</span></div>
        <h2 class="agreement-welcome agreement-sign">六、【注册用户的审核】</h2>
        <div>乙方应如实填报注册相关信息并提交本人手机号等必要信息，以供审核。如乙方未通过资质审核并完成入网登记的，本协议终止。当乙方上述信息发生变更时须提前10个工作日书面通知甲方，并承担由于其所提供的资质材料不准确、不真实等情况而导致的经济和法律方面的一切责任。</div>
        <h2 class="agreement-welcome agreement-sign">七、【本平台服务使用要求】</h2>
        <div><span>7.1</span> 乙方不得利用本平台服务或本平台服务用户名义从事任何不符合中国法律法规规章政策或侵犯他人权益的活动。如发现乙方从事该等活动时，甲方有权不经通知而立即停止乙方对本平台服务的全部或部分功能的使用,对恶意注册用户之家账号或利用用户之家账号进行违法活动、捣乱、骚扰、欺骗、其他用户以及其他违反本服务的行为，甲方有权回收其账号。同时，甲方会视司法部门的要求，协助调查。</div>
        <div><span>7.2</span> 乙方须对自己在使用本服务过程中的行为承担法律责任。乙方承担法律责任的形式包括但不限于：赔偿因乙方行为受到损失的受损者，以及甲方承担了因乙方行为导致的行政处罚或侵权损害赔偿责任后7日内给予甲方等额的赔偿。</div>
        <h2 class="agreement-welcome agreement-sign">八、【授权条款】</h2>
        <div><span>8.1</span><span> 乙方不可撤销地授权，基于提供本协议项下服务的目的、解决争议、保障交易安全等目的，对于乙方的信息享有留存、整理加工、使用和向第三方（具备提供本协议项下服务资质的产品方、数据服务公司、技术服务公司、征信公司、风控公司等）披露的权利。</span></div>
        <div><p>具体方式包括但不限于：</p><span>8.1.1</span> 出于为乙方提供服务的需要在本网站公示乙方的信息；</div>
        <div><span>8.1.2</span> 由人工或自动程序对乙方的信息进行获取、评估、整理、存储，进行产品进度查询或其他订单进度查询；</div>
        <div><span>8.1.3</span> 使用乙方的信息以改进本网站的设计和推广；</div>
        <div><span>8.1.4</span> 在乙方违反与我们或我们的其他用户签订的协议时，披露乙方的个人资料及违约事实，将乙方的违约信息写入黑名单并与必要的第三方共享数据，以供我们及第三方审核、追索之用。</div>
        <div><span>8.1.5</span> 其他必要的使用及披露乙方信息的情形。乙方已明确同意本条款不因乙方终止使用用户之家服务而失效。如因我们行使本条款项下权利使乙方遭受损失，我们对该等损失免责。</div>
        <div><span>8.2</span> 乙方在用户之家发布或传播的自有内容或具有使用权的内容，乙方特此同意并授权如下：</div>
        <div><span>8.2.1</span> 授权甲方使用、复制、修改、改编、翻译、传播、发表此等内容，从此等内容创建派生作品，以及在全世界范围内通过任何媒介（现在已知的或今后发明的）公开展示和表演此等内容的权利；</div>
        <div><span>8.2.2</span> 授权甲方及其关联方和再许可人一项权利，可依他们的选择而使用用户有关此等内容而提交的名称；</div>
        <div><span>8.2.3</span> 授予甲方在第三方侵犯乙方在用户之家平台的权益、或乙方发布在用户之家平台的内容情况下，依法追究其责任的权利。</div>
        <h2 class="agreement-welcome agreement-sign">九、【服务费收取及结算方式】</h2>
        <div><span>9.1</span> 乙方使用用户之家平台服务时，甲方会收取相关服务费。各项服务费计算方式请详见平台相关收费细则。甲方保留订定及调整服务费之权利。如服务费调整，甲方将以公告方式在平台予以公布，无需另行通知；若乙方在服务费调整后继续使用本服务的，视为乙方接受各项费用的调整。</div>
        <div><span>9.2</span> 乙方因推荐行为获取推荐服务费。甲方和/或产品方的产品详情及乙方推荐服务费的标准及支付方式以用户之家平台展示为准。</div>
        <h2 class="agreement-welcome agreement-sign">十、【甲方的权利与义务】</h2>
        <div><span>10.1</span> 甲方有义务及时处理与甲方平台有关的投诉或纠纷，并协助乙方进行处理。</div>
        <div><span>10.2</span> 甲方保留对乙方不当使用甲方平台服务独立判断和确定。</div>
        <div><span>10.2.1</span> 如果甲方发现乙方涉及可疑、不法、高风险活动的，甲方有权向有关监管机关报告，并要求甲方及时提供所有的材料证明；甲方可视情况暂停部分服务。</div>
        <div><span>10.2.2</span> 如遇有权机关之指示，乙方将依有权机关的指示行事。</div>
        <div><span>10.2.3</span> 甲方发现乙方发生违法行为，甲方将视情况停止对乙方提供服务，发现涉嫌违法犯罪活动的，将向公安机关报案。</div>
        <div><span>10.3</span> 甲方有权按协议的规定收取各项费用，有义务依协议约定按时提供服务。</div>
        <div><span>10.4</span> 甲方有权根据情况决定对平台的功能和服务进行改动和升级并暂停向乙方提供服务，但应提前7天告知乙方，并预告恢复日期。</div>
        <div><span>10.5</span> 在本协议签订后，甲方提供工作时间内相应的技术咨询服务，如合作期间甲方违反本协议约定，给乙方造成损失，则甲方应承担相关的责任并赔偿损失。</div>
        <div><span>10.6 甲方有权对乙方使用甲方平台服务而形成的信息及资料进行验证（包括自行验证或者通过第三方渠道进行验证）。</span></div>
        <h2 class="agreement-welcome agreement-sign">十一、【乙方的权利与义务】</h2>
        <div><span>11.1</span> 乙方保证合法使用甲方平台服务。</div>
        <div><span>11.2</span> 乙方有权按照协议约定要求甲方向乙方提供平台服务。</div>
        <div><span>11.3</span> 乙方不得利用甲方提供的服务从事洗钱、恐怖融资、赌博、套现或金融诈骗等各种违规、违法及犯罪活动。甲方认为乙方涉嫌上述违规、违法或犯罪活动的，有权立即停止服务并向有关机构或司法机关报告。因乙方的上述活动造成他人损失的，由乙方承担赔偿责任。</div>
        <div><span>11.4</span> 乙方应当严格执行有关部门、和甲方要求的技术规范，否则，甲方可以暂停向乙方提供本协议约定的平台服务。</div>
        <div><span>11.5</span> 乙方保证按照规定使用甲方平台服务，不得利用其从事或协助他人从事非法活动。</div>
        <div><span>11.6</span> 乙方收到甲方调取相关凭证及提供相应证明材料时应当及时（3个工作日内）提供，超过期限未能按照调单要求提供相关资料、提供的资料与要求不符或乙方不予配合提供相关资料的，<span>由此造成的全部损失由乙方独立承担,若因乙方上述行为导致第三人或甲方损失，由乙方承担责任，乙方不可撤销地授权甲方从应付未付推荐服务费中直接扣除。</span></div>
        <div><span>11.7 因推荐行为从甲方处获取推荐服务费。</span></div>
        <h2 class="agreement-welcome agreement-sign">十二、【安全与保密条款】</h2>
        <div><span>12.1</span> 甲乙双方及其全部员工必须对其知晓甲方平台服务项下商业信息资料予以保密。甲乙双方均有为对方有关数据、服务数据方面的信息及本协议的内容对第三方保密的义务，但根据国家法律法规、监管规定要求提供的或向乙方的外部专业顾问提供的除外。</div>
        <div><span>12.2</span> 乙方有不法行为已被司法机关立案或介入调查、或司法机构强制解约、已被其他组织认定为高风险行为的，甲方有权单方面终止服务，无须事先通知乙方，并延缓向乙方提供服务，将相关情况报备给司法机关或其他行政机关，<span>并且甲方有权向乙方追偿因上述行为给第三人或乙方造成的损失，乙方承担赔偿责任，乙方不可撤销地授权甲方从应付未付推荐服务费中直接扣除。</span></div>
        <div><span>12.3</span> 该保密责任不因本协议的无效、提前终止、解除或不具操作性而失效。</div>
        <h2 class="agreement-welcome agreement-sign">十三、【协议变更和废除】</h2>
        <div><span>13.1</span> 甲乙双方经协商同意，可以对本合同进行修改，乙方承诺在遵守本合同的同时，同意接受并遵守甲方不定期制定或修改的甲方平台服务使用规则、注册用户管理规则及市场政策。甲方有权根据经营需要及监管规范要求自主对已公布的规则及各项政策作出修改、废止的决定。甲方将在平台进行通知。</div>
        <div><span>13.2</span> 在协议执行期间，如果双方或一方认为需要终止，应提前30日通知对方，双方在财务结算完毕、各自责任明确履行之后，方可终止协议。因一方违反本协议的约定擅自终止本协议，给对方造成损失的，应赔偿对方损失。</div>
        <h2 class="agreement-welcome agreement-sign">十四、【其它】</h2>
        <div><span>14.1</span> 本协议内容以及在履行本协议过程中甲方的技术信息、技术咨询和服务信息，未经一方允许，另一方不得将其转交或透露给第三方，否则守约方有权终止本协议，并追究泄密方的赔偿责任。</div>
        <div><span>14.2</span> 为履行本协议的需要，双方可以以合理的方式使用对方的知识产权，如商标和标志等，但不能擅自扩大使用范围或以法律禁止的方式侵犯对方的知识产权。</div>
        <div><span>14.3</span> 本协议未尽事宜，双方一致同意依照甲方平台实时公布的相关规则、政策和使用说明办理。乙方在网站上使用甲方平台时所进行的点击同意的规则都视同本协议的组成部分。</div>
        <div><span></span> 14.4通知的送达：乙方注册使用本平台服务填写的地址为唯一、固定、有效的送达地址（包括但不限于非电子送达地址以及乙方填写的电子邮箱、手机短信号码、QQ/微信/MSN等即时聊天平台服务账号等电子送达地址），为寄送有关文件或双方发生法律争议时有关法律机构寄送有关文件的有效地址。如需变更应在10日内告知甲方，否则如发生文件不能寄达的情况，包括但不限于拒收、无法查找地址、查无此人等，视为已经送达，一切法律后果由乙方承担。</div>
        <div><span>14.5</span> 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</div>
        <div><span>14.6</span> 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</div>
        <div><span>14.7在履行本协议过程中发生的任何争议，应首先由甲、乙双方友好协商解决；协商不成的，任何一方均可向甲方所在地人民法院起诉。</span></div>
    </div>
</template>

<style lang="less" src="./css/userAgreement.less" scoped></style>
