<template>
    <div class="container" id="container">
        <div class="dialog" id="dialog" v-if="showDia">
            <img src="./image/img_zhishi.png" alt="">
        </div>
        <div class="wx_main">
            <div class="app_logo"></div>
            <div class="wx" v-if="showDia1">
                <button v-show="isAndioid" class="ios_down" @click="showDown()">
                    <img src="./image/android@2x.png" alt="">
                    <p>Android版下载</p>
                </button>
                <button v-show="isios" class="andiro_down" @click="showDown()">
                    <img src="./image/ios@2x.png" alt="">
                    <p>IOS版下载</p>
                </button>
            </div>
            <div class="sefire" v-if="showDia2">
                <div v-show="isAndioid">
                    <a :href="androidUrl">
                        <button class="andiro_down">
                            <img src="./image/android@2x.png" alt="">
                            <p>Android版下载</p>
                        </button>
                    </a>
                </div>
                <a v-show="isios" :href="iosUrl"class="ios_down">
                    <button >
                        <img src="./image/ios@2x.png" alt="">
                        <p>IOS版下载</p>
                    </button>
                </a>
            </div>
        </div>
    </div>
</template>
<style lang="less" src="./css/wxDown.less" scoped></style>
<script src="./script/wxDown.js"  scoped></script>
