<template>
    <div class="sharePic" v-show="showDia">

        <transition name="fade">
            <div class="dialog" id="dialog" v-show="showDia" @click="closeShare();"></div>
        </transition>
        <transition name="fade">
            <div class="bottomBar"  ref="bottomBar" v-show="show1">
                <div class="main" ref="imageTofile">
                    <slot></slot>
                </div>
                <div class="mui-content" style="display:none;">
                    <img style="width:100%;" :src="htmlUrl" alt="">
                </div>
                <div class="bottomBar_content">
                    <p @click="toImage('wechatSession')">
                        <img src="./image/icon_wechat.png">
                        <span>微信好友</span>
                    </p>
                    <p @click="toImage('wechatTimeline')">
                        <img src="./image/icon_circle_of_riends.png">
                        <span>朋友圈</span>
                    </p>
                    <p @click="toImage('nativeSaveImage')">
                        <img src="./image/icon_save.png">
                        <span>保存图片</span>
                    </p>
                </div>
            </div>
        </transition>
    </div>
</template>
<style lang="less" src="./share.less" scoped></style>
<script src="./share.js" ></script>
