@import url("~@/css/base.less");

.sharePic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //display: none;

  .main {
    width: 100%;
    height: 9.16rem;
    //margin: 0.8rem auto 0.32rem;
    background: #ffffff;
  }
}

/*弹窗*/
.dialog {
  //position: absolute;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65) !important;
  filter: Alpha(opacity=66);

  img {
    width: 5.6rem;
    height: 2.17rem;
  }
}

.bottomBar {
  z-index: 10000;
  //width: 100%;
  width: 6.3rem;
  // height: 3.9rem;
  border-top-left-radius: 0.08rem;
  border-top-right-radius: 0.08rem;
  position: fixed;
  left: 50%;
  top:52%;
  transform: translate3d(-50%, -50%, 0);

  .mui-content {
    width: 100%;
    height: 9.16rem;
    margin: 1.18rem auto 0.32rem;
  }

  .bottomBar_content {
    width: 92%;
    margin: .32rem auto;
    display: flex;

    p {
      flex: 1;
      text-align: center;

      img {
        width: 1.0rem;
        height: 1.0rem;
        display: block;
        margin: 0 auto 0.2rem;
      }

      span {
        display: block;
        text-align: center;
        font-size: 0.28rem;
        color: #ffffff;
      }
    }
  }
}
