@import url("~@/css/base.less");
.reward{
    width: 100%;
    height: auto;
    overflow: hidden;
    .reward-bg{
        width: 100%;
        overflow: hidden;
        background: #FD614C;
        position: relative;
        img{
            width: 100%;
            display: block;
        }
        .reward-bg-title{
            position: absolute;
            bottom: 0.39rem;
            left: 2.299rem;
            font-size: 0.257rem;
            font-family: "PingFang SC Regular";
            color: #FFDF10;
        }
    }
    .reward-bottom{
        background: #FD614C;
        width: 100%;
        height: auto;
        padding: 0 0.25rem 0.2rem;
        margin-top: -1px;
        //padding-bottom: 0.2rem;
        .reward-bottom-list{
            width: 7.023rem;
            //height: 1.96rem;
            max-height: 3.96rem;
            border-radius: 0.093rem;
            display: flex;
            background: rgba(255, 255, 255, 1);
            position: relative;
            .rewardLeft{
                width: 2.233rem;
                font-size: 0.5rem;
                font-family: SourceHanSansCN-Bold;
                font-weight: bold;
                color: #FF391E;
                line-height: 1.76rem;
                text-align: center;
                border-radius: 0.093rem;
                background: rgba(255, 246, 188, 1);
            }
            .rewardImg{
                width: 1.107rem;
                height: 1.107rem;
                background: url("../image/bianji@2x.png");
                background-size: 1.107rem 1.107rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .rewardRight{
                flex: 1;
                display: flex;
                margin-left: 0.28rem;
                border-radius: 0.093rem;
                position: relative;
                .rewardRight-title{
                    width: 2.567rem;
                    font-size: 0.237rem;
                    font-weight: bold;
                    font-family: "PingFang SC Heavy";
                    color: #333333;
                    margin-top: 0.3rem;
                    .rewardRightRow{
                        width: 0.227rem;
                        height: 0.227rem;
                        background: url("../image/iconjiant@2x.png") no-repeat;
                        background-size: 0.227rem 0.227rem;
                        display: inline-block;
                        margin-left: 0.2rem ;
                    }
                    .rewardRightCow{
                        width: 0.227rem;
                        height: 0.227rem;
                        background: url("../image/icon-jiant@2x.png") no-repeat;
                        background-size: 0.227rem 0.227rem;
                        display: inline-block;
                        margin-left: 0.2rem ;
                        //cursor: pointer;
                    }
                }
                .rewardRight-hide{
                    width: 1.3rem;
                    height: 0.507rem;
                    font-size: 0.267rem;
                    color: #FFFFFF;
                    background: #D4D4D4;
                    border-radius: 2rem;
                    line-height: 0.537rem;
                    text-align: center;
                    margin: -0.5rem auto 0rem;
                    position: absolute;
                    right: 0.2rem;
                    top: 0.8rem;
                }
                .rewardRight-show{
                    width: 1.3rem;
                    height: 0.507rem;
                    font-size: 0.267rem;
                    color: #FFFFFF;
                    background: linear-gradient(90deg, #FF7F15 0%, #FF5548 100%);
                    border-radius: 2rem;
                    line-height: 0.537rem;
                    text-align: center;
                    margin: -0.5rem auto 0rem;
                    position: absolute;
                    right: 0.2rem;
                    top: 0.8rem;
                }
            }
        }
        .reward-bottom-listShow{
            width: 7.023rem;
            //height: 3.56rem;
            //max-height: auto;
            border-radius: 0.093rem;
            display: flex;
            background: rgba(255, 255, 255, 1);
            position: relative;
            .rewardLeft{
                width: 2.233rem;
                //height: 3.56rem;
                font-size: 0.5rem;
                font-family: SourceHanSansCN-Bold;
                font-weight: bold;
                color: #FF391E;
                line-height: 1.96rem;
                text-align: center;
                border-radius: 0.093rem;
                background: rgba(255, 246, 188, 1);
            }
            .rewardImg{
                width: 1.107rem;
                height: 1.107rem;
                background: url("../image/bianji@2x.png");
                background-size: 1.107rem 1.107rem;
                position: absolute;
                top: 0;
                left: 0;
            }
            .rewardRight{
                flex: 1;
                display: flex;
                align-items: center;
                margin-left: 0.28rem;
                border-radius: 0.093rem;
                position: relative;
                .rewardRight-title{
                    width: 2.567rem;
                    //height: 2.7rem;
                    font-size: 0.237rem;
                    font-weight: 600;
                    font-family: "PingFang SC Heavy";
                    margin-top: 0.3rem;
                    color: #333333;
                    .rewardRightRow{
                        width: 0.227rem;
                        height: 0.227rem;
                        background: url("../image/iconjiant@2x.png") no-repeat;
                        background-size: 0.227rem 0.227rem;
                        display: inline-block;
                        margin-left: 0.2rem ;
                        //cursor: pointer;
                    }
                    .rewardRightCow{
                        width: 0.227rem;
                        height: 0.227rem;
                        background: url("../image/icon-jiant@2x.png") no-repeat;
                        background-size: 0.227rem 0.227rem;
                        display: inline-block;
                        margin-left: 0.2rem ;
                    }
                    .rewardRight-unFoldTitle{
                        width: 4.23rem;
                        //height: 1.26rem;
                        font-size: 0.237rem;
                        font-weight: 600;
                        font-family: PingFang SC;
                        padding-top: 0.2rem;
                        margin-bottom: 0.2rem;
                        color: #999999;
                    }
                }
                .rewardRight-hide{
                    width: 1.3rem;
                    height: 0.507rem;
                    font-size: 0.267rem;
                    color: #FFFFFF;
                    background: #D4D4D4;
                    border-radius: 2rem;
                    line-height: 0.537rem;
                    text-align: center;
                    //margin: 0.1rem auto 2rem;
                    position: absolute;
                    right: 0.2rem;
                    top: 0.3rem;
                }
                .rewardRight-show{
                    width: 1.3rem;
                    height: 0.507rem;
                    font-size: 0.267rem;
                    color: #FFFFFF;
                    background: linear-gradient(90deg, #FF7F15 0%, #FF5548 100%);
                    border-radius: 2rem;
                    line-height: 0.537rem;
                    text-align: center;
                    //margin: 0.1rem auto 2rem;
                    position: absolute;
                    right: 0.2rem;
                    top: 0.3rem;
                }
            }
        }
    }
    .reward-letter{
        width: 100%;
        background: #FD614C;
        overflow: hidden;
        margin-top: -1px;
        .reward-letter-text{
            font-size: 0.353rem;
            color: #FFFFFF;
            text-align: center;
        }
        .reward-letter-log{
            text-indent: 2em;
            margin-bottom: 0.6rem;
        }
        .reward-letter-margin{
            margin-bottom: 0.6rem;
        }
        div{
            color: #FFFFFF;
            padding: 0rem 0.2rem;
            //text-align: center;
            //letter-spacing:0.15rem;
            font-size: 0.287rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
        }
    }
    .backImg{
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        position: fixed;
        top: 0;
        left: 0;
    }
    .conDia{
        width: 6.3rem;
        height: 3.98rem;
        background: #ffffff;
        border-radius: 6px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -3.15rem;
        margin-top: -1.79rem;
        text-align: center;
        z-index: 25;
        .title{
            width: 70%;
            text-align: center;
            font-weight: 500;
            color: #3F3F50;
            margin: 0.5rem 15% 0.52rem;
            font-size: 0.36rem;
            display: inline-block;
        }
        .btn{
            width: 92%;
            margin: 0 4%;
            display: inline-block;
            float: left;
            display: flex;
            justify-items: center;
            align-items: center;
            .cancle{
                width: 2.4rem;
                height: 0.8rem;
                border-radius: 4px;
                border: 1px solid rgba(63, 131, 255, 0.6);
                font-size: 0.32rem;
                color: #3666FF;
                line-height: 0.8rem;
                display: inline-block;
                float: left;
            }
            .confirm{
                width: 2.4rem;
                height: 0.8rem;
                border-radius: 4px;
                font-size: 0.32rem;
                color: #ffffff;
                background:rgba(63, 131, 255, 1);
                line-height: 0.8rem;
                display: inline-block;
              margin:  0 auto;
            }
        }

    }
}
