@import url("~@/css/base.less");
.addressMy{
  width: 100%;
  margin-bottom: 1.6rem;
  overflow: hidden;
  .content{
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0rem;
    .content-left{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      flex: 1;
      min-width: 6.16rem;
      margin-left: 0.32rem;
      .content-left-top{
        height: 0.34rem;
        font-size: 0.34rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .name{
          font-size: 0.34rem;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #333333;
        }
        .mobile{
          margin: 0rem 0.36rem 0rem 0.32rem;
          font-size: 0.34rem;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #333333;
        }
        .default{
          width: 0.6rem;
          height: 0.34rem;
          background: url("~@/page/shop/img/default.png") no-repeat;
          background-size: 0.6rem 0.34rem;
        }
      }
      .content-left-bottom{
        min-height: 0.24rem;
        font-size: 0.24rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #858585;
        margin-top: 0.16rem;
      }
    }
    .content-right{
      width: 0.38rem;
      height: 0.38rem;
      background: url("~@/page/shop/img/bj@2x.png") no-repeat;
      background-size: 0.38rem 0.38rem;
      margin-left: 0.32rem;
      margin-right: 0.32rem;
    }
  }
  .line{
    width: 6.88rem;
    height: 0.02rem;
    background: rgba(51,51,51,.1);
    position: absolute;
    bottom: 0;
    margin-left: 0.32rem;
  }
  .right{
    height: 100%;
    line-height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    .van-button{
      border: 0px;
      height: 100%;
      width: 1.4rem;
      padding: 0;
      .van-button__text{
        font-size: 0.28rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
      }
    }
    .van-button:nth-child(1){
      background: #C9C6C5;
    }
    .van-button:nth-child(2){
      background: #FF8C4B;
    }
  }
  .btn{
    height: 1rem;
    width: 100%;
    background: #FF6D0C;
    line-height: 1rem;
    text-align: center;
    font-size: 0.32rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
  }
}

