@import url("~@/css/base.less");
.addressList{
  width: 100%;
  overflow: hidden;
  margin-top: 0.2rem;
}
.van-cascader__selected-icon{
  color: #F3782C;
}
.van-cascader__header{
  justify-content: center !important;
  .van-cascader__title{
    font-size: 0.28rem;
    color: #666666;
  }
  .van-cascader__close-icon{
    position: fixed;
    right: 0.5rem;
    color: #D6D6D6;
  }
}
.van-cascader__tab{
  .van-tab__text{
    font-size: 0.3rem;
    color: #333333;
  }
}
.van-cascader__tab--unselected{
  .van-tab__text{
    color: #F3782C;
    font-size: 0.32rem;
  }
}
.van-tabs__nav--complete{
  background: #F7F8FA;
  .van-tabs__line {
    background-color: #F3782C !important;
  }
}
.van-cascader__option{
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, PingFang SC;
  color: #000000;
}
.checkbox{
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  margin: 0.4rem 0rem 0rem 0.32rem;
}
.detailsAddress{
  min-height: 1.96rem !important;
}
.van-cell{
  width: 100%;
  min-height: 1.14rem;
  font-size: 0.32rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
}
/deep/.van-cell__title{
  >span{
    font-size: 0.32rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
  }
}
.vanButton{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  .van-button{
    border-radius: 0rem !important;
    height: 100%;
    background: #F3782C;
    border: 0rem;
    font-size: 0.32rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
  }
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #000; opacity:0.5;font-size: 0.28rem;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #000;opacity:0.5;font-size: 0.28rem
}

input:-ms-input-placeholder{
  color: #000;opacity:0.5;font-size: 0.28rem
}

input::-webkit-input-placeholder{
  color: #000;opacity:0.5;font-size: 0.28rem
}
