@import url("~@/css/base.less");
.addressList{
  width: 100%;
  overflow: hidden;
  margin-top: 0.2rem;
}
.checkbox{
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  margin: 0.4rem 0rem 0rem 0.32rem;
}
.detailsAddress{
  min-height: 1.96rem !important;
}
.van-cell{
  width: 100%;
  min-height: 1.14rem;
  font-size: 0.32rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
}
/deep/.van-cell__title{
  >span{
    font-size: 0.32rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
  }
}
.vanButton{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  .van-button{
    border-radius: 0rem !important;
    height: 100%;
    background: #F3782C;
    border: 0rem;
    font-size: 0.32rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
  }
}
