<template>
  <div id="page">

        <Loading :isLoading="isLoading"></Loading>

    	<keep-alive>
		    <router-view v-if="$route.meta.keepAlive">
		        <!-- 这里是会被缓存的视图组件，比如 page1,page2 -->
		    </router-view>
		</keep-alive>

		<router-view v-if="!$route.meta.keepAlive">
		    <!-- 这里是不被缓存的视图组件，比如 page3 -->
		</router-view>
  </div>
</template>

<script type="text/javascript">
    import Loading from "@/components/loading";
    export default{
        components:{
            Loading
        },
        mounted(){
            ;(/iphone|ipod|ipad/i.test(navigator.appVersion)) && document.addEventListener('blur', (e) => {
                // 这里加了个类型判断，因为a等元素也会触发blur事件
                ['input', 'textarea'].includes(e.target.localName) && document.body.scrollIntoView(false)
            }, true);
        }
    }
</script>