@import url("~@/css/base.less");
.agreement {
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 1rem;
  font-family: serif;
}
.agreement h1 {
  font-size: 0.3rem;
  text-align: center;
  overflow: hidden;
  display: block;
  padding: 0.38rem 0 0.4rem;
}
.agreement h2 {
  font-size: 0.26rem;
  line-height: 0.48rem;
  padding-bottom: 0.2rem;
}
.agreement h3 {
  font-size: 0.3rem;
  text-align: center;
  overflow: hidden;
  display: block;
  padding: 0 0 0.4rem;
}
.agreement div {
  font-size: 0.26rem;
  line-height: 0.48rem;
  text-align: justify;
  text-indent: 2em;
  color: #666666;
  span {
    span{
      letter-spacing:0.15rem;
    }
  }
}
.agreement-aligning{
  text-indent: inherit !important;
  padding-top: 0.2rem;
}
.agreement-retract{
  text-indent: 2em;
  padding: 0.2rem 0rem 0.2rem 0rem;
}
.agreement span {
  color: #151515;
  font-weight: bold;
}
