@import url("~@/css/base.less");
  //登录弹窗
  .logo {
    width: 1.56rem;
    height: 1.56rem;
    border-radius: 50%;
    margin: .48rem auto .3rem;
    display: block;
    position: fixed;
    left: 50%;
    top: -.5rem;
    z-index: 13;
    transform: translate3d(-50%, 0%, 0);
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #3D4A5B;
    font-size: .34rem;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #3D4A5B;
    font-size: .34rem;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #3D4A5B;
    font-size: .34rem;
  }
.van-popup{
    width: 87%;
}
.van-cell {
    background: #F6F6F6;
    border-radius: 30px;
    margin-top: .2rem;
}
.userHome{
  width: 100%;
  overflow: hidden;
  //padding-bottom: 1.5rem;
  .userLogin_container {
    width: 6.5rem;
    height: 8.5rem;
    margin-left: .65rem;
    .userLogin_wrap {
      width: 6.2rem;
      height: 7.22rem;
      .close {
        position: absolute;
        top: 0;
        right: 0;
        i {
          margin: .2rem;
          display: block;
          width: .28rem;
          height: .28rem;
          background-size: cover;
        }
      }
      .userLogin_wrap_inner {
        font-size: .34rem;
        padding: .3rem .34rem;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px 0px rgba(102, 102, 102, 0.2);
        border-radius: 0.2rem;
        margin: .5rem 0 .5rem;
        h4 {
          text-align: center;
          font-size: .36rem;
          color: #313757;
          letter-spacing: 0;
          width: 2.88rem;
          margin: 1.2rem auto 0;
          line-height: .7rem;
        }
        .userLogin_form {
          margin: .12rem 0 .4rem;
          .userForm_group {
            font-size: 0.187rem;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            padding-bottom: .26rem;
            padding-left: 0.39rem;
            border-bottom: 1px solid #ECF0FF;
            position: relative;
            background: #F4F4F4;
            border-radius: 0.55rem;
            margin-top: .4rem;
            height: 0.78rem;
            input{
              //font-family: PingFang-SC-Regular;
            }
            input::-webkit-input-placeholder {
              font-size: .3rem;
              font-weight: 400;
              color: #30303D;
            }
            .get_password{
              position: absolute;
              top: 25%;
              right: 10%;
              font-size: 0.30rem;
              color: rgba(243, 120, 44, 1);
            }
            input {
              width: 100%;
              color: #313757;
              margin-top: .28rem;
              font-size: .34rem;
            }
            span {
              color: #F3782C;
              letter-spacing: 0;
              display: flex;
              align-items: center;
              position: absolute;
              top: 0;
              right: 0;
              font-size: .32rem;
              height: 100%;
              line-height: 100%;
              margin-right: .2rem;
            }
          }
        }
        .userLogin_btn {
          background: #F3782C;
          border-radius: 0.55rem;
          display: block;
          height: 0.9rem;
          line-height: .9rem;
          font-size: .32rem;
          color: #FFF;
          letter-spacing: 0;
          text-align: center;
        }
        .userLogin_agreement {
          font-size: .24rem;
          margin-top: 0.3rem;
          text-align: center;
          color: rgba(51, 51, 51, 1);
          width: 5.7rem;
          span{
            color: #F3782C;
            display: inline-block;
          }
          a {
            color: #F3782C;
            position: relative;
            left: -.06rem;
          }
        }
      }
      .download{
        color: #333333;
        margin-top: .28rem;
        font-size: 0.28rem;
        text-align: center;
        img{
          width: 0.28rem;
          height: 0.38rem;
          margin-right: 0.1rem;
        }
      }
    }
}
  .banner{
      text-align: center;
      img{
          width: 2.333rem;
      }
      margin-top:0.5rem;
  }
  .tuijian{
      margin: 0.2rem 0.9rem;
      height: auto;
      .tuijian-top{
        //min-width: 4.300rem;
        min-height: 0.7rem;
        border: 1px solid #F3782C;
        border-radius: 20px;
        background: rgba(243, 120, 44, 1);
        //background:linear-gradient(180deg, #3F83FF  100%, #1C5ED6 100%);
        font-family:'PingFangSC-Regular';
        font-weight: 400;
        font-size: .3rem;
        text-shadow: 0 0.027rem 0.053rem rgba(0, 0, 0, 0.1);
        padding: 0 0.7rem;
        color: #ffffff;
        text-align: center;
        line-height: .65rem;
        .test{
            font-size: .15rem;
        }
      }
      .tuijian-top1{
          // width: 90% !important;
          // margin-left: 5% !important;
          padding:0 0.3rem !important;
      }
  }
  .model{
  padding: .35rem;
  .tip{
    font-weight: 400;
    color: #FE3232;
    font-size: .12rem;
    padding: .2rem 0;

  }
  .title-text{
    position: relative;
    height: .6rem;
    .close{
      position: absolute;
      right: .2rem;
      font-size: .3rem;
    }
    .title{
      position: absolute;
      font-weight: 400;
      color: #333333;
      font-size: .3rem;
    }
  }
  .btn{
    text-align: center;
    button{
      width: 3rem;
    }
  }
}
  /* .creditCard_bank{
     width: 6.94rem;
     margin: 0 auto;
     background: #ffffff;
     box-shadow: 0px 1px 11px 0px rgba(6, 0, 1, 0.2);
     border-radius: 0.22rem !important;
     .bankList{
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
         border-bottom: 1px solid #FF9900 !important;
         // flex-direction:row;
         .item{
             width:1.89rem;
             min-height: 2.7-0.4rem;
             position: relative;
             // background: #FFFFFF;
             border-right: 1px solid #E8E8E8;
             // border-top: 1px solid #E8E8E8;
             border-bottom: 1px solid #E8E8E8;
             border-collapse: collapse;!* 合并相邻边框*!
             // box-shadow: 0 0 0.32rem 0 rgba(63,131,255,0.15);
             border-radius: 0.08rem;
             padding: 0.3rem 0.2rem 0;
             // margin-bottom: 0.54rem;
             border-radius:0rem;
             // padding-top: 0.4rem;
             &.height0{
                 height: 0px;
                 visibility: hidden;
             }
             &:nth-of-type(3){
                 border-right: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(6){
                 border-right: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(9){
                 border-right: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(12){
                 border-right: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(15){
                 border-right: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(18){
                 border-right: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(21){
                 border-right: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(24){
                 border-right: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(1){
                 border-top: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(2){
                 border-top: 0px solid #E8E8E8 !important;
             }
             &:nth-of-type(3){
                 border-top: 0px solid #E8E8E8 !important;
             }
             .logo{
                 width: 0.76rem;
                 height: 0.76rem;
                 // margin-left: 0.42rem;
                 position: absolute;
                 transform: translateX(-50%);
                 left: 50%;
                 // top: 0.2rem;
                 img{
                     display: block;
                     width: 100%;
                     height: 100%;
                 }
             }
             b{
                 color: #3D4A5B;
                 opacity: 0.9;
                 font-size: 0.30rem;
                 display: block;
                 text-align: center;
                 margin-top: 0.8rem;
                 margin-bottom: 0.1rem;
             }
             p{
                 color: #3D4A5B;
                 opacity: 0.5;
                 font-size: 0.26rem;
                 text-align: center;
                 line-height: 0.36rem;
                 .border-bottom(#E0E0E0);
                 padding-bottom: 0.18rem;
                 margin-bottom: 0.2rem;
                 height: 0.70rem;
             }
             span{
                 display: block;
                 color: #FF9900;
                 font-size: 0.2rem;
                 text-align: center;
                 // font-weight: 700;
                 margin-bottom: 0.1rem;
             }
         }
         .forward{
             width:2.20rem;
             height: 2.70rem;
             display: flex;
             flex-direction:column;
             justify-content: center;
             align-items: center;
             background: #FFFFFF;
             box-shadow: 0 0 0.32rem 0 rgba(63,131,255,0.15);
             border-radius: 0.08rem;
             margin-bottom: 0.54rem;
             p{
                 width: 100%;
                 font-weight: 700;
                 font-size: 0.3rem;
                 color: #3D4A5B;
                 opacity: 0.3;
                 text-align: center;
             }
         }
     }
 }*/
  /*.creditCard_btn{
      width: 92%;
      height: 1.58rem;
      position: fixed;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 4%;
  }*/
}
