@import url("~@/css/base.less");
.agreement {
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 1rem;
  font-family: serif;
  h1 {
    font-size: 0.50rem !important;
    text-align: center !important;
    overflow: hidden !important;
    padding: 0.8rem 0 0.1rem !important;
  }
  h2 {
    font-size: 0.3rem !important;
    text-align: center !important;
    overflow: hidden !important;
    padding: 0.1rem 0 0.2rem !important;
  }
  .agreement-welcome{
    font-size: 0.42rem !important;
    line-height: 0.44rem !important;
    text-align: justify !important;
    margin-bottom: 0.10rem !important;
  }
}
.agreement-sign{
  padding-top: 0.45rem !important;
}
.agreement b {
  font-size: 0.32rem;
}
.agreement div {
  font-size: 0.28rem;
  line-height: 0.44rem;
  text-align: justify;
  margin-bottom: 0.15rem;
  span{
    font-weight: bold !important;
  }
}
.bottom_line{
  width: 100%;
    overflow: hidden;
    padding-top: 0.4rem;
    font-size: 0.28rem;
    color: #3D4A5B;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0.3rem;
}
.bottom_line span{
  width: 2.0rem;
    height: 1px;
    display: block;
    background: #C4C7CC;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.bottomBar_line em {
  margin: 0 0.2rem;
}
