@import url("~@/css/base.less");
.container{
    width: 100vw;
    height: 100vh;
    background:url(../image/userBg@2x.png) no-repeat;
    background-size: 100vw 100vh;
    position: fixed;
    top: 0;
    left: 0;
    .dialog {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0,0,0,0.65)!important;
        filter:Alpha(opacity=66);
        img{
            width: 5.6rem;
            height: 2.17rem;
        }
    }
    .wx_main{
        width: 100%;
        .app_logo{
            margin: 2.3rem auto 2rem;
            display: inline-block;
        }
        .andiro_down{
            margin: 50% 18%;
            width: 64%;
            height: 1rem;
            line-height: 1rem;
            background: #ffffff;
            border-radius: 4px;
            font-size: 0.34rem;
            color: #100f0f;
            text-align: center;
            position: fixed;
            bottom: 0.2rem;
            img{
                width: 0.34rem;
                height: 0.4rem;
                //margin-right: 0.2rem;
                //margin-left: 0.8rem;
                vertical-align: middle;
            }
            p{
                line-height: 0.48rem;
                display: inline;
                vertical-align: middle;
            }
        }
        .ios_down{
            margin: 50% 21%;
            width: 58%;
            height: 0.88rem;
            line-height: 0.88rem;
            background: #ffffff;
            border-radius: 4px;
            font-size: 0.34rem;
            color: #3D4A5B;
            text-align: center;
            position: fixed;
            bottom: 0.2rem;
            //margin-bottom: 2.46rem;
            img{
                width: 0.34rem;
                height: 0.4rem;
                //margin-left: 1.1rem;
                margin-right: 0.2rem;
                vertical-align: middle;
            }
            p{
                line-height: 0.48rem;
                display: inline;
                vertical-align: middle;
            }
        }
    }
}

