@import url("~@/css/base.less");

.applyRecord{
	width: 100%;
	overflow: hidden;
	background: #FFFFFF;
	.applyRecord-total{
		padding:0.2rem 0.293rem;
		height: 0.793rem;
		font-size: 0.28rem;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #3F3F50;
		line-height: 0.793rem;
		border-top: 0.013rem solid #F7F8FA;
	}
	.applyRecord-list{
		padding:0.2rem 0.293rem;
		height: 1.6rem;
		line-height: 0.9rem;
		border-bottom: 0.013rem solid #F7F8FA;
		.applyRecord-list-top{
			display: flex;
			justify-content: space-between;
			.applyTitle{
				font-size: 0.313rem;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				color: #333333;
			}
			.applyType{
				font-size: 0.287rem;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				color: #2D79FF;
			}
		}
		.applyRecord-list-bottom{
			display: flex;
			justify-content: space-between;
			.applyTime{
				font-size: 0.16rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #9e9090;
			}
			.applyDetails{
				font-size: 0.29rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: #F3782C;
				width: 2.067rem;
				height: 0.673rem;
				border-radius: 0.103rem;
				border: 0.025rem solid #F3782C;
				line-height: 0.573;
			}
		}
	}
	 /*弹窗*/
	 .dialog {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgba(0,0,0,0.65)!important;
		filter:Alpha(opacity=66);
		.dialog1{
			width: 82%;
			margin: 3.2rem 9% 0;
			background: #ffffff;
			height: 4.4rem;
			border-radius: 0.04rem;
			.dia_title{
				font-size: 0.36rem;
				color: #3D4A5B;
				text-align: center;
				padding-top: 0.64rem;
				font-weight: bold;
			}
			.dia_text{
				width: 80%;
				margin: 0.4rem 10% 0.48rem;
				opacity: 0.8;
				font-size: 0.28rem;
				color: #3D4A5B;
				text-align: left;
				line-height: 0.48rem;
				font-weight: 100;
				font-weight: bold;
			}
			button{
				width: 80%;
				margin: 0 10%;
				background: #3F83FF;
				border-radius: 0.06rem;
				font-size: 0.32rem;
				color: #FFFFFF;
				text-align: center;
				line-height: 0.8rem;
				height: 0.8rem;
				float:left;
				font-weight: bold;
			}
		}
		.dialog2{
			width: 82%;
			margin: 1.38rem 9% 0;
			.dia2_can{
				float:right;
                width: 0.6rem;
                height: 0.6rem;
                margin: 0 0 0.16rem;
			}
			.dialog2_main{
				width: 100%;
				background: #FFFFFF;
				border-radius: 0.04rem;
				height: 7.28rem;
				display: inline-block;
				.dia_title{
					font-size: 0.36rem;
					color: #3D4A5B;
					text-align: center;
					padding-top: 0.64rem;
					font-weight: bold;
				}
				.dia_text{
					margin: 0 10% 0rem;
					font-size: 0.28rem;
					color: #3D4A5B;
					text-align: left;
					font-weight: bold;
					width: 80%;
					float: left;
					line-height: 0.98rem;
					display: inline-block;
					border-bottom: 0.02rem solid #ECF0FF;
				}
				.dia_input{
					margin: 0.15rem 10% 0rem;
					width: 80%;
					height: 0.8rem;
					display: inline-block;
					float: left;
					border-bottom: 0.02rem solid #ECF0FF;
					input{
						width: 2.92rem;
						font-size: 0.28rem;
						height: 0.8rem;
						display: inline-block;
						float: left;
					}
					.yzm{
						width: 1.96rem;
						height: 0.8rem;
						float: right;
						img{
							width: 100%;
							height: 100%;
							display: block;
						}
					}
					span{
						font-size: 0.32rem;
						color: #3F83FF;
						float: right;
    					margin-top: 0.16rem;
					}
				}
				button{
					width: 80%;
					margin: 0 10%;
					background: #3F83FF;
					border-radius: 0.06rem;
					font-size: 0.32rem;
					color: #FFFFFF;
					text-align: center;
					line-height: 0.8rem;
					height: 0.8rem;
					float:left;
					font-weight: bold;
					margin-top: 0.48rem;
				}
			}

		}
    }
	.queryHead{
		width: 100%;
		overflow: hidden;
		.queryHead_menu{
			width: 100%;
			display: flex;
			align-items: center;
			background: #fff;
			overflow: hidden;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				background: #ECF0FF !important;
				width: 100%;
				height: 0.02rem;
				-webkit-transform: scaleY(0.5);
				-ms-transform: scaleY(0.5);
				transform: scaleY(0.5);
			}
			.border-bottom();
			a{
				color: #3D4A5B;
				font-size: 0.28rem;
				flex: 1;
				height: 100%;
				text-align: center;
				position: relative;
				line-height: 0.8rem;
				opacity: 0.6;
				&.active{
					font-size: 0.32rem;
					color: @blue;
					font-weight: 700;
					opacity: 1 !important;
					&:after{
						content:"";
						position: absolute;
						bottom:0;
						left: 50%;
						transform: translateX(-50%);
						width: 0.6rem;
						height: 0.06rem;
						background: @blue;
					}
				}
			}
		}
	}
}
