@import url("~@/css/base.less");
.changeAgreed{
	width: 100%;
	overflow: hidden;
	.changePending-bg{
		background: rgba(243, 120, 44, 1);
		.changePending-top{
			height: 2.963rem;
			display: flex;
			justify-content: center;
			align-items: center;
			.pendingImg{
				width: 0.403rem;
				height: 0.403rem;
				background: url("../img/pendding@2x.png") no-repeat;
				background-size: 0.403rem 0.403rem;
				margin-right: 0.15rem;
			}
			.pendingText{
				font-size: 0.42rem;
				font-family: PingFangSC-Semibold, PingFang SC;
				font-weight: 600;
				color: #FFFEFE;
			}
		}
	}
	.changePending-center{
		background: #FFFFFF;
		padding: 0.25rem 0.25rem;
		margin-top: 0.18rem
	;
		.changePending-center-title{
			font-size: 0.327rem;
			font-family: PingFangSC-Semibold, PingFang SC;
			font-weight: 600;
			color: #3F3F50;
		}
		.changePending-center-infor{
			display: flex;
			align-items: center;
			font-size: 0.257rem;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #b6b6bc;
			.pendName{
				margin-right: 0.15rem;
			}
		}
	}
	.changePending-bottom{
		background: #FFFFFF;
		padding: 0.25rem 0.25rem;
		font-size: 0.287rem;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #333333;
		border-top: 0.013rem solid #F7F8FA;
		.changePending-bottom-pro{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.changePending-bottom-time{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
