@import url("~@/css/base.less");
.changeRejected{
	width: 100%;
	overflow: hidden;
	.changePending-bg{
		background: rgba(193, 193, 193, 1);
		/*.changePending-rows{
			width: 0.25rem;
			height: 0.363rem;
			background: url("../img/rows@2x.png") no-repeat;
			background-size: 0.25rem 0.363rem;
			padding-top: 0.2rem;
			margin-left: 0.2rem;
		}*/
		.changeRejected-bg{
			height: 2.963rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.changePending-top{
				font-size: 0.42rem;
				font-family: PingFangSC-Semibold, PingFang SC;
				font-weight: 600;
				color: #FFFEFE;
			}
			.changePending-til{
				font-size: 0.313rem;
				font-family: PingFangSC-Semibold, PingFang SC;
				font-weight: 600;
				color: #FFFEFE;
			}
		}
	}
	.changePending-center{
		background: #FFFFFF;
		padding: 0.25rem 0.25rem;
		margin-top: 0.18rem
	;
		.changePending-center-title{
			font-size: 0.327rem;
			font-family: PingFangSC-Semibold, PingFang SC;
			font-weight: 600;
			color: #3F3F50;
		}
		.changePending-center-infor{
			display: flex;
			align-items: center;
			font-size: 0.257rem;
			font-family: PingFangSC-Regular, PingFang SC;
			font-weight: 400;
			color: #b6b6bc;
			.pendName{
				margin-right: 0.15rem;
			}
		}
	}
	.changePending-bottom{
		background: #FFFFFF;
		padding: 0.25rem 0.25rem;
		font-size: 0.287rem;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #333333;
		border-top: 0.013rem solid #F7F8FA;
		.changePending-bottom-pro{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.changePending-bottom-time{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.btn{
		width: 100%;
		height: 1rem;
		background: #F3782C;
		text-align: center;
		line-height: 1rem;
		font-size: 0.32rem;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: #FFFFFF;
		position: fixed;
		bottom: 0;
	}
}
