@import url("~@/css/base.less");
.machinesToolsApply{
  overflow: hidden;
  font-size: 0.287rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  .machinesToolsApply-is{
    height: 0.867rem;
    line-height: 0.867rem;
    background: #FFFFFF;
    border-top: 0.013rem solid #F7F8FA;
    padding:0rem 0.293rem;
  }
  .yes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .yes-img{
      width: 0.25rem;
      height: 0.193rem;
      background: url("../img/icon-row@2x.png") no-repeat;
      background-size: 0.25rem 0.193rem;
    }
  }
  .no{

  }
}
