@import url("~@/css/base.less");
.machinesApply{
  overflow: hidden;
  font-size: 0.287rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  .machinesApply-is{
    background: #FFFFFF;
    border-top: 0.013rem solid #F7F8FA;
    padding:0.3rem 0.293rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.287rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    border-top: 0.013rem solid #F7F8FA;
    .yes-tools{
      display: flex;
      justify-content: center;
      .yes-img{
        width: 0.25rem;
        height: 0.333rem;
        background: url("../img/icon-xia@2x.png") no-repeat;
        background-size: 0.25rem 0.333rem;
        margin-left: 0.26rem;
      }
    }
  }
  .machinesApply-adress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 0.25rem 0.25rem;
    border-top: 0.013rem solid #F7F8FA;
    .machinesApply-adress-left{
      .changePending-center-infor{
        display: flex;
        align-items: center;
        font-size: 0.257rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #b6b6bc;
        .pendName{
          margin-right: 0.15rem;
        }
      }
    }
    .machinesApply-adress-right{
      width: 0.25rem;
      height: 0.293rem;
      background: url("../img/icon-row@2x.png") no-repeat;
      background-size: 0.25rem 0.293rem;
    }
  }
  .machinesApply-noadress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 0.25rem 0.25rem;
    border-top: 0.013rem solid #F7F8FA;
    .machinesApply-adress-left{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .machinesApply-adress-right{
      width: 0.25rem;
      height: 0.293rem;
      background: url("../img/icon-row@2x.png") no-repeat;
      background-size: 0.25rem 0.293rem;
    }
  }
  .machinesApply-yes{
    background: #FFFFFF;
    border-top: 0.013rem solid #F7F8FA;
    padding:0.3rem 0.293rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.287rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    border-top: 0.013rem solid #F7F8FA;
    .yes-tools{
      display: flex;
      justify-content: flex-end;
      input{
        text-align: right !important;
      }
      .yes-img{
        width: 0.25rem;
        height: 0.333rem;
        background: url("../img/icon-xia@2x.png") no-repeat;
        background-size: 0.25rem 0.333rem;
        margin-left: 0.26rem;
      }
    }
  }
  .machinesApply-inform{
    height: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    .van-button{
      height: 100% !important;
      font-size: 0.32rem;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
    }
  }
  .myPicker{
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,.6);
    .content{
      height: 7.56rem;
      width: 100%;
      position: fixed;
      bottom: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      .myPicker-top{
        height: 1rem;
        width: 100%;
        font-size: 0.36rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;
        line-height: 1rem;
        text-align: center;
        .close{
          width: 0.31rem;
          height: 0.31rem;
          position: absolute;
          right: 0.52rem;
          top: 0px;
          font-size: 0.5rem;
        }
      }
      .myPicker-center{
        height: 5.56rem;
        width: 100%;
        overflow-y: scroll;
        .myPicker-center-list{
          width: 6.72rem;
          height: 1rem;
          margin: 0 auto;
          border-bottom: 0.02rem solid rgba(51, 51, 51, 0.1);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.32rem;
          .text{
            font-size: 0.3rem;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #3F3F50;
          }
        }
      }
      .myPicker-bottom{
        height: 1rem;
        width: 100%;
        background: #F3782C;
        font-size: 0.32rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 1rem;
        text-align: center;
      }
    }

  }
}

