@TextColor: #a4aab2;
#analysis_pie {
  position: relative;
  .pieChar {
    width: 3.4rem;
    height: 3.4rem;
  }
  .pieTip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    line-height: .2rem;
    .top {
      display: flex;
      margin-top: .3rem;
      h3 {
        font-size: .44rem;
        font-weight: normal;
        margin-right: .1rem;
      }
    }
    span {
      font-size: .24rem;
      color: @TextColor;
    }
  }
}

.pieList {
  width: 2.4rem;
  box-sizing: border-box;
  border: 1px solid #d8dade;
  border-radius: 4px;
  font-size: .24rem;
  position: absolute;
  right: .2rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  background: #FFF;

  li {
    //transform: scale(0.94);
    box-sizing: border-box;
    padding: .15rem 0;
    border-bottom: 1px solid #d8dade;
    //transform: scale(0.5);
    color: @TextColor;
    font-size: .26rem;
    display: flex;
    align-items: center;

    &.active {
      color: #464C6E;
      font-weight: bold;
    }

    i {
      width: .16rem;
      height: .16rem;
      border-radius: 50%;
      // background: #0bb20c;
      display: inline-block;
      margin: 0 .12rem 0 .2rem;
      // &.gray{
      //   background: #464C6E;
      // }
      // &.orange{
      //   background: #FF9F89;
      // }
      // &.pink{
      //   background: #FF7F96;
      // }
      // &.blue{
      //   background: #3F83FF;
      // }
      // &.green{
      //   background: #36E0D5;
      // }
    }
  }

  & li:nth-last-child(1) {
    border-width: 0;
  }
}