<template>
        <div id="analysis_pie">
            <div id="pieChar" ref="pieChar" class="pieChar">
            </div>
            <div class="pieTip">
                <div class="top" v-if="pageName == 'statistics'">
                    <h3>{{pieInfo.total}}</h3><span>单</span>
                </div>
                <div class="top" v-else-if="pageName == 'source'">
                    <h3>{{pieInfo.total}}</h3><span>人</span>
                </div>
                <div class="top" v-else>
                    <h3>{{pieInfo.total}}</h3><span>元</span>
                </div>
                <span v-if="$route.meta.index == 1">交易总量</span>
                <span v-else>总量</span>
            </div>
        </div>
</template>
<style src="./pie.less" lang="less"></style>
<script src="./pie.js"></script>